.kb-select {
	position: relative;

	.location-select {
	    position: absolute;
	    top: -110px;
	    left: 153px;
	    z-index: $zindex-drop-down;
	    width: 600px;

		> div {
		    @include type-setting(0);
		    display: none;
			float: left;
		    padding: $padding-default / 2;
		    border: 1px solid $palette-grey;
		    background: $palette-light;
		    font-family: $font-stack-secondary;
		    font-weight: 400;
		    text-transform: uppercase;

			&:first-of-type {

				ul { width: 113px; }
			}

		    ul { width: 185px; }
	    	li {
	    		margin-bottom: ($margin-default / 2);

	    		&:last-child { margin-bottom: 0; }
	    	}
		}
	}
}