@media #{$media-tiny} {
	footer {
		padding: 0;

		.legal {
			padding: 0;

			.legal-content {
				padding: ($padding-default * 2);
				margin: 0;
			}
			.logo {
				&.kb-logo { display: none; }
			}
		}
		.social { display: none; }
	}
}