footer {
	padding: 25px 40px;
	background-color: #ededed;

    a,
    a:active,
    a:focus { outline: none; }

    .legal {
    	overflow: hidden;
    	padding-right: 180px;
    	font-family: $font-stack-primary;
    	@include type-setting(-3);
    	text-transform: none;

		.logo {
			float: left;

	        &.kb-logo {
	            display: block;
	            width: 97px;
	            height: 97px;
	            transition: width 0.3s ease-in-out;
	            background: $logo-main no-repeat;
	        }
	    }
	    .legal-content { margin: 0 0 0 120px; }
    }
    .social {
    	position: absolute;
    	right: 35px;
    	width: 156px;
    	text-align: center;

    	p {
    		font-family: $font-stack-secondary;
    		font-size: $type-size-large;
    		text-transform: none;
    	}
    	ul {
    		@extend %clearfix;
    		margin: 0 auto;

	    	li {
	    		float: left;
	    		margin-right: $margin-default / 2;

	    		&:last-child { margin-right: 0; }
	    	}
    	}
    	.social-icon {

            a {
                display: block;
                width: 45px;
        		height: 45px;
        		margin-bottom: $margin-default;
        		border-radius: 100px;
        		background-color: $palette-light;
        		text-align: center;

        		&::before {
        			position: relative;
        			top: 10px;
                    color: $text-primary;
                    font-size: $type-size-huge;
        		}
            }
    	}
    }
}