/*=========================================
=            KB Home Icon Font            =
=========================================*/

/**

	USAGE:
	- The font can be used with or without classes.
	- The fonts are generated under the fontello web app.
	- Please note it may be necessary to escape certain characters when referencing
	  them in the content attribute.

**/

@font-face {
	font-family: 'kb-icons';
	src: url('#{$path-site-assets}/type/kb_icons/kb-icons.eot');
	src: url('#{$path-site-assets}/type/kb_icons/kb-icons.eot?#iefix') format('embedded-opentype'),
		 url('#{$path-site-assets}/type/kb_icons/kb-icons.woff') format('woff'),
		 url('#{$path-site-assets}/type/kb_icons/kb-icons.ttf') format('truetype'),
		 url('#{$path-site-assets}/type/kb_icons/kb-icons.svg#[name]') format('svg');
	font-weight: normal;
	font-style: normal;
}

[data-icon]::before { content: attr(data-icon); }
[data-icon]::before,
[class^='kb-icon-']::before,
[class*=' kb-icon-']::before {
	display: inline-block;
	font-family: kb-icons;
	font-size: $type-size-base;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-transform: none;
	speak: none;
	vertical-align: top;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.kb-icon-mail-squared::before        { content: '\e800'; }
.kb-icon-music::before               { content: '\e801'; }
.kb-icon-search::before              { content: '\e802'; }
.kb-icon-mail::before                { content: '\e803'; }
.kb-icon-mail-alt::before            { content: '\e804'; }
.kb-icon-heart::before               { content: '\e805'; }
.kb-icon-heart-empty::before         { content: '\e806'; }
.kb-icon-star::before                { content: '\e807'; }
.kb-icon-star-empty::before          { content: '\e808'; }
.kb-icon-star-half::before           { content: '\e809'; }
.kb-icon-star-half-alt::before       { content: '\e80a'; }
.kb-icon-user::before                { content: '\e80b'; }
.kb-icon-users::before               { content: '\e80c'; }
.kb-icon-male::before                { content: '\e80d'; }
.kb-icon-female::before              { content: '\e80e'; }
.kb-icon-video::before               { content: '\e80f'; }
.kb-icon-videocam::before            { content: '\e810'; }
.kb-icon-picture::before             { content: '\e811'; }
.kb-icon-camera::before              { content: '\e812'; }
.kb-icon-camera-alt::before          { content: '\e813'; }
.kb-icon-th-large::before            { content: '\e814'; }
.kb-icon-th::before                  { content: '\e815'; }
.kb-icon-th-list::before             { content: '\e816'; }
.kb-icon-ok::before                  { content: '\e817'; }
.kb-icon-ok-circled::before          { content: '\e818'; }
.kb-icon-ok-circled2::before         { content: '\e819'; }
.kb-icon-ok-squared::before          { content: '\e81a'; }
.kb-icon-cancel::before              { content: '\e81b'; }
.kb-icon-cancel-circled::before      { content: '\e81c'; }
.kb-icon-cancel-circled2::before     { content: '\e81d'; }
.kb-icon-plus::before                { content: '\e81e'; }
.kb-icon-plus-circled::before        { content: '\e81f'; }
.kb-icon-plus-squared::before        { content: '\e820'; }
.kb-icon-plus-squared-alt::before    { content: '\e821'; }
.kb-icon-minus::before               { content: '\e822'; }
.kb-icon-minus-circled::before       { content: '\e823'; }
.kb-icon-minus-squared::before       { content: '\e824'; }
.kb-icon-minus-squared-alt::before   { content: '\e825'; }
.kb-icon-help::before                { content: '\e826'; }
.kb-icon-help-circled::before        { content: '\e827'; }
.kb-icon-info-circled::before        { content: '\e828'; }
.kb-icon-info::before                { content: '\e829'; }
.kb-icon-home::before                { content: '\e82a'; }
.kb-icon-link::before                { content: '\e82b'; }
.kb-icon-unlink::before              { content: '\e82c'; }
.kb-icon-link-ext::before            { content: '\e82d'; }
.kb-icon-link-ext-alt::before        { content: '\e82e'; }
.kb-icon-attach::before              { content: '\e82f'; }
.kb-icon-lock::before                { content: '\e830'; }
.kb-icon-lock-open::before           { content: '\e831'; }
.kb-icon-lock-open-alt::before       { content: '\e832'; }
.kb-icon-pin::before                 { content: '\e833'; }
.kb-icon-eye::before                 { content: '\e834'; }
.kb-icon-eye-off::before             { content: '\e835'; }
.kb-icon-tag::before                 { content: '\e836'; }
.kb-icon-tags::before                { content: '\e837'; }
.kb-icon-bookmark::before            { content: '\e838'; }
.kb-icon-bookmark-empty::before      { content: '\e839'; }
.kb-icon-flag::before                { content: '\e83a'; }
.kb-icon-flag-empty::before          { content: '\e83b'; }
.kb-icon-flag-checkered::before      { content: '\e83c'; }
.kb-icon-thumbs-up::before           { content: '\e83d'; }
.kb-icon-thumbs-down::before         { content: '\e83e'; }
.kb-icon-thumbs-up-alt::before       { content: '\e83f'; }
.kb-icon-thumbs-down-alt::before     { content: '\e840'; }
.kb-icon-download::before            { content: '\e841'; }
.kb-icon-upload::before              { content: '\e842'; }
.kb-icon-download-cloud::before      { content: '\e843'; }
.kb-icon-upload-cloud::before        { content: '\e844'; }
.kb-icon-reply::before               { content: '\e845'; }
.kb-icon-reply-all::before           { content: '\e846'; }
.kb-icon-forward::before             { content: '\e847'; }
.kb-icon-quote-left::before          { content: '\e848'; }
.kb-icon-quote-right::before         { content: '\e849'; }
.kb-icon-code::before                { content: '\e84a'; }
.kb-icon-export::before              { content: '\e84b'; }
.kb-icon-export-alt::before          { content: '\e84c'; }
.kb-icon-pencil::before              { content: '\e84d'; }
.kb-icon-pencil-squared::before      { content: '\e84e'; }
.kb-icon-edit::before                { content: '\e84f'; }
.kb-icon-print::before               { content: '\e850'; }
.kb-icon-retweet::before             { content: '\e851'; }
.kb-icon-keyboard::before            { content: '\e852'; }
.kb-icon-windows::before             { content: '\e853'; }
.kb-icon-comment::before             { content: '\e854'; }
.kb-icon-chat::before                { content: '\e855'; }
.kb-icon-comment-empty::before       { content: '\e856'; }
.kb-icon-chat-empty::before          { content: '\e857'; }
.kb-icon-bell::before                { content: '\e858'; }
.kb-icon-bell-alt::before            { content: '\e859'; }
.kb-icon-attention-alt::before       { content: '\e85a'; }
.kb-icon-attention::before           { content: '\e85b'; }
.kb-icon-attention-circled::before   { content: '\e85c'; }
.kb-icon-location::before            { content: '\e85d'; }
.kb-icon-direction::before           { content: '\e85e'; }
.kb-icon-compass::before             { content: '\e85f'; }
.kb-icon-trash::before               { content: '\e860'; }
.kb-icon-doc::before                 { content: '\e861'; }
.kb-icon-docs::before                { content: '\e862'; }
.kb-icon-doc-text::before            { content: '\e863'; }
.kb-icon-doc-inv::before             { content: '\e864'; }
.kb-icon-doc-text-inv::before        { content: '\e865'; }
.kb-icon-folder::before              { content: '\e866'; }
.kb-icon-folder-open::before         { content: '\e867'; }
.kb-icon-folder-empty::before        { content: '\e868'; }
.kb-icon-folder-open-empty::before   { content: '\e869'; }
.kb-icon-box::before                 { content: '\e86a'; }
.kb-icon-rss::before                 { content: '\e86b'; }
.kb-icon-rss-squared::before         { content: '\e86c'; }
.kb-icon-phone::before               { content: '\e86d'; }
.kb-icon-phone-squared::before       { content: '\e86e'; }
.kb-icon-menu::before                { content: '\e86f'; }
.kb-icon-cog::before                 { content: '\e870'; }
.kb-icon-cog-alt::before             { content: '\e871'; }
.kb-icon-wrench::before              { content: '\e872'; }
.kb-icon-basket::before              { content: '\e873'; }
.kb-icon-calendar::before            { content: '\e874'; }
.kb-icon-calendar-empty::before      { content: '\e875'; }
.kb-icon-login::before               { content: '\e876'; }
.kb-icon-logout::before              { content: '\e877'; }
.kb-icon-mic::before                 { content: '\e878'; }
.kb-icon-mute::before                { content: '\e879'; }
.kb-icon-volume-off::before          { content: '\e87a'; }
.kb-icon-volume-down::before         { content: '\e87b'; }
.kb-icon-volume-up::before           { content: '\e87c'; }
.kb-icon-headphones::before          { content: '\e87d'; }
.kb-icon-clock::before               { content: '\e87e'; }
.kb-icon-lightbulb::before           { content: '\e87f'; }
.kb-icon-block::before               { content: '\e880'; }
.kb-icon-resize-full::before         { content: '\e881'; }
.kb-icon-resize-full-alt::before     { content: '\e882'; }
.kb-icon-resize-small::before        { content: '\e883'; }
.kb-icon-resize-vertical::before     { content: '\e884'; }
.kb-icon-resize-horizontal::before   { content: '\e885'; }
.kb-icon-move::before                { content: '\e886'; }
.kb-icon-zoom-in::before             { content: '\e887'; }
.kb-icon-zoom-out::before            { content: '\e888'; }
.kb-icon-down-circled2::before       { content: '\e889'; }
.kb-icon-up-circled2::before         { content: '\e88a'; }
.kb-icon-left-circled2::before       { content: '\e88b'; }
.kb-icon-right-circled2::before      { content: '\e88c'; }
.kb-icon-down-dir::before            { content: '\e88d'; }
.kb-icon-up-dir::before              { content: '\e88e'; }
.kb-icon-left-dir::before            { content: '\e88f'; }
.kb-icon-right-dir::before           { content: '\e890'; }
.kb-icon-down-open::before           { content: '\e891'; }
.kb-icon-left-open::before           { content: '\e892'; }
.kb-icon-right-open::before          { content: '\e893'; }
.kb-icon-up-open::before             { content: '\e894'; }
.kb-icon-angle-left::before          { content: '\e895'; }
.kb-icon-angle-right::before         { content: '\e896'; }
.kb-icon-angle-up::before            { content: '\e897'; }
.kb-icon-angle-down::before          { content: '\e898'; }
.kb-icon-angle-circled-left::before  { content: '\e899'; }
.kb-icon-angle-circled-right::before { content: '\e89a'; }
.kb-icon-angle-circled-up::before    { content: '\e89b'; }
.kb-icon-angle-circled-down::before  { content: '\e89c'; }
.kb-icon-angle-double-left::before   { content: '\e89d'; }
.kb-icon-angle-double-right::before  { content: '\e89e'; }
.kb-icon-angle-double-up::before     { content: '\e89f'; }
.kb-icon-angle-double-down::before   { content: '\e8a0'; }
.kb-icon-down-arrow::before          { content: '\e8a1'; }
.kb-icon-left-arrow::before          { content: '\e8a2'; }
.kb-icon-right-arrow::before         { content: '\e8a3'; }
.kb-icon-up-arrow::before            { content: '\e8a4'; }
.kb-icon-down-big::before            { content: '\e8a5'; }
.kb-icon-left-big::before            { content: '\e8a6'; }
.kb-icon-right-big::before           { content: '\e8a7'; }
.kb-icon-up-big::before              { content: '\e8a8'; }
.kb-icon-right-hand::before          { content: '\e8a9'; }
.kb-icon-left-hand::before           { content: '\e8aa'; }
.kb-icon-up-hand::before             { content: '\e8ab'; }
.kb-icon-down-hand::before           { content: '\e8ac'; }
.kb-icon-left-circled::before        { content: '\e8ad'; }
.kb-icon-right-circled::before       { content: '\e8ae'; }
.kb-icon-up-circled::before          { content: '\e8af'; }
.kb-icon-down-circled::before        { content: '\e8b0'; }
.kb-icon-cw::before                  { content: '\e8b1'; }
.kb-icon-ccw::before                 { content: '\e8b2'; }
.kb-icon-arrows-cw::before           { content: '\e8b3'; }
.kb-icon-level-up::before            { content: '\e8b4'; }
.kb-icon-level-down::before          { content: '\e8b5'; }
.kb-icon-shuffle::before             { content: '\e8b6'; }
.kb-icon-exchange::before            { content: '\e8b7'; }
.kb-icon-expand::before              { content: '\e8b8'; }
.kb-icon-collapse::before            { content: '\e8b9'; }
.kb-icon-expand-right::before        { content: '\e8ba'; }
.kb-icon-collapse-left::before       { content: '\e8bb'; }
.kb-icon-play::before                { content: '\e8bc'; }
.kb-icon-play-circled::before        { content: '\e8bd'; }
.kb-icon-play-circled2::before       { content: '\e8be'; }
.kb-icon-stop::before                { content: '\e8bf'; }
.kb-icon-pause::before               { content: '\e8c0'; }
.kb-icon-to-end::before              { content: '\e8c1'; }
.kb-icon-to-end-alt::before          { content: '\e8c2'; }
.kb-icon-to-start::before            { content: '\e8c3'; }
.kb-icon-to-start-alt::before        { content: '\e8c4'; }
.kb-icon-fast-fw::before             { content: '\e8c5'; }
.kb-icon-fast-bw::before             { content: '\e8c6'; }
.kb-icon-eject::before               { content: '\e8c7'; }
.kb-icon-target::before              { content: '\e8c8'; }
.kb-icon-signal::before              { content: '\e8c9'; }
.kb-icon-award::before               { content: '\e8ca'; }
.kb-icon-desktop::before             { content: '\e8cb'; }
.kb-icon-laptop::before              { content: '\e8cc'; }
.kb-icon-tablet::before              { content: '\e8cd'; }
.kb-icon-mobile::before              { content: '\e8ce'; }
.kb-icon-inbox::before               { content: '\e8cf'; }
.kb-icon-globe::before               { content: '\e8d0'; }
.kb-icon-cloud::before               { content: '\e8d1'; }
.kb-icon-child::before               { content: '\e8d2'; }
.kb-icon-glass::before               { content: '\e8d3'; }
.kb-icon-map::before                 { content: '\e8d4'; }
.kb-icon-floor-plan::before          { content: '\e8d5'; }
.kb-icon-flight::before              { content: '\e8d6'; }
.kb-icon-house-plan::before          { content: '\e8d7'; }
.kb-icon-leaf::before                { content: '\e8d8'; }
.kb-icon-font::before                { content: '\e8d9'; }
.kb-icon-bold::before                { content: '\e8da'; }
.kb-icon-italic::before              { content: '\e8db'; }
.kb-icon-align-justify::before       { content: '\e8dc'; }
.kb-icon-notepad::before             { content: '\e8dd'; }
.kb-icon-infocard::before            { content: '\e8de'; }
.kb-icon-clipboard::before           { content: '\e8df'; }
.kb-icon-equal-housing::before       { content: '\e8e0'; }
.kb-icon-equal-housing-text::before  { content: '\e8e1'; }
.kb-icon-list::before                { content: '\e8e2'; }
.kb-icon-list-bullet::before         { content: '\e8e5'; }
.kb-icon-table::before               { content: '\e8eb'; }
.kb-icon-columns::before             { content: '\e8ec'; }
.kb-icon-paste::before               { content: '\e8ef'; }
.kb-icon-briefcase::before           { content: '\e8f0'; }
.kb-icon-suitcase::before            { content: '\e8f1'; }
.kb-icon-ellipsis::before            { content: '\e8f2'; }
.kb-icon-ellipsis-vert::before       { content: '\e8f3'; }
.kb-icon-off::before                 { content: '\e8f4'; }
.kb-icon-road::before                { content: '\e8f5'; }
.kb-icon-list-alt::before            { content: '\e8f6'; }
.kb-icon-qrcode::before              { content: '\e8f7'; }
.kb-icon-barcode::before             { content: '\e8f8'; }
.kb-icon-book::before                { content: '\e8f9'; }
.kb-icon-ajust::before               { content: '\e8fa'; }
.kb-icon-tint::before                { content: '\e8fb'; }
.kb-icon-check::before               { content: '\e8fc'; }
.kb-icon-check-empty::before         { content: '\e8fd'; }
.kb-icon-circle::before              { content: '\e8fe'; }
.kb-icon-circle-empty::before        { content: '\e8ff'; }
.kb-icon-dot-circled::before         { content: '\e900'; }
.kb-icon-asterisk::before            { content: '\e901'; }
.kb-icon-gift::before                { content: '\e902'; }
.kb-icon-fire::before                { content: '\e903'; }
.kb-icon-magnet::before              { content: '\e904'; }
.kb-icon-chart-bar::before           { content: '\e905'; }
.kb-icon-ticket::before              { content: '\e906'; }
.kb-icon-credit-card::before         { content: '\e907'; }
.kb-icon-floppy::before              { content: '\e908'; }
.kb-icon-megaphone::before           { content: '\e909'; }
.kb-icon-hdd::before                 { content: '\e90a'; }
.kb-icon-key::before                 { content: '\e90b'; }
.kb-icon-fork::before                { content: '\e90c'; }
.kb-icon-certificate::before         { content: '\e90d'; }
.kb-icon-tasks::before               { content: '\e910'; }
.kb-icon-filter::before              { content: '\e911'; }
.kb-icon-beaker::before              { content: '\e912'; }
.kb-icon-magic::before               { content: '\e913'; }
.kb-icon-truck::before               { content: '\e914'; }
.kb-icon-sort::before                { content: '\e91f'; }
.kb-icon-sort-down::before           { content: '\e920'; }
.kb-icon-sort-up::before             { content: '\e921'; }
.kb-icon-hammer::before              { content: '\e928'; }
.kb-icon-gauge::before               { content: '\e929'; }
.kb-icon-sitemap::before             { content: '\e92a'; }
.kb-icon-building::before            { content: '\e935'; }
.kb-icon-puzzle::before              { content: '\e93c'; }
.kb-icon-android::before             { content: '\e942'; }
.kb-icon-apple::before               { content: '\e943'; }
.kb-icon-digg::before                { content: '\e944'; }
.kb-icon-reddit-squared::before      { content: '\e945'; }
.kb-icon-reddit::before              { content: '\e946'; }
.kb-icon-facebook::before            { content: '\e949'; }
.kb-icon-facebook-squared::before    { content: '\e94a'; }
.kb-icon-flickr::before              { content: '\e94b'; }
.kb-icon-gplus-squared::before       { content: '\e951'; }
.kb-icon-gplus::before               { content: '\e952'; }
.kb-icon-instagramm::before          { content: '\e954'; }
.kb-icon-linkedin-squared::before    { content: '\e955'; }
.kb-icon-linkedin::before            { content: '\e957'; }
.kb-icon-pinterest-circled::before   { content: '\e95a'; }
.kb-icon-pinterest-squared::before   { content: '\e95b'; }
.kb-icon-youtube::before             { content: '\e95f'; }
.kb-icon-youtube-squared::before     { content: '\e960'; }
.kb-icon-youtube-play::before        { content: '\e961'; }
.kb-icon-blank::before               { content: '\e962'; }
.kb-icon-renren::before              { content: '\e964'; }
.kb-icon-skype::before               { content: '\e965'; }
.kb-icon-stackexchange::before       { content: '\e966'; }
.kb-icon-stackoverflow::before       { content: '\e967'; }
.kb-icon-trello::before              { content: '\e968'; }
.kb-icon-tumblr::before              { content: '\e969'; }
.kb-icon-tumblr-squared::before      { content: '\e96a'; }
.kb-icon-twitter-squared::before     { content: '\e96b'; }
.kb-icon-twitter::before             { content: '\e96c'; }
.kb-icon-vimeo-squared::before       { content: '\e96d'; }
.kb-icon-spin5::before               { content: '\e970'; }
.kb-icon-spin2::before               { content: '\e971'; }
.kb-icon-spin3::before               { content: '\e972'; }
.kb-icon-spin1::before               { content: '\e973'; }
.kb-icon-house::before               { content: '\e977'; }
.kb-icon-kb-brand::before            { content: '\e978'; }
.kb-icon-mykb::before                { content: '\e979'; }
.kb-icon-paint-roller::before        { content: '\e97a'; }
.kb-icon-color-swatches::before      { content: '\e97b'; }
.kb-icon-share::before               { content: '\e97c'; }
.kb-icon-trash-1::before             { content: '\e97d'; }
.kb-icon-share-squared::before       { content: '\e97e'; }
.kb-icon-fax::before                 { content: '\e97f'; }
.kb-icon-file-pdf::before            { content: '\e980'; }
.kb-icon-file-word::before           { content: '\e981'; }
.kb-icon-file-excel::before          { content: '\e982'; }
.kb-icon-file-powerpoint::before     { content: '\e983'; }
.kb-icon-file-image::before          { content: '\e984'; }
.kb-icon-file-archive::before        { content: '\e985'; }
.kb-icon-file-audio::before          { content: '\e986'; }
.kb-icon-file-video::before          { content: '\e987'; }
.kb-icon-file-code::before           { content: '\e988'; }
.kb-icon-bell-off-empty::before      { content: '\e989'; }
.kb-icon-bell-off::before            { content: '\e98a'; }
.kb-icon-sliders::before             { content: '\e98b'; }
.kb-icon-history::before             { content: '\e98c'; }
.kb-icon-wifi::before                { content: '\e98d'; }
.kb-icon-paper-plane::before         { content: '\e98e'; }
.kb-icon-paper-plane-empty::before   { content: '\e98f'; }
.kb-icon-toggle-on::before           { content: '\e990'; }
.kb-icon-toggle-off::before          { content: '\e991'; }
.kb-icon-chart-area::before          { content: '\e992'; }
.kb-icon-chart-pie::before           { content: '\e993'; }
.kb-icon-chart-line::before          { content: '\e994'; }
.kb-icon-circle-thin::before         { content: '\e995'; }
.kb-icon-circle-notch::before        { content: '\e996'; }
.kb-icon-bus::before                 { content: '\e997'; }
.kb-icon-taxi::before                { content: '\e998'; }
.kb-icon-cab::before                 { content: '\e999'; }
.kb-icon-bicycle::before             { content: '\e99a'; }
.kb-icon-building-filled::before     { content: '\e99b'; }
/*-----  End of KB Icon Font  ------*/