﻿/*==================================
=            HTML Icons            =
==================================*/
/**

	DOCUMENTATION:
	- This file houses all html-based icons and other glyphs
	  used throughout the site.
	- This file should never reference any images or raster-
	  based graphics of any kind.

**/





/*====================================================
=            Toggle More (+) and Less (-)            =
====================================================*/

///	- Applies a + or - icon before the element.
///	- Used to indicate the expansion of more or less
///	  information when the user clicks the link.
///	- Invoke via class="toggle-more" or "toggle-less"
///	- .toggle-display should never be invoked alone.
/// @example <a class="toggle-more"></a>
%toggle-display {
	position: relative;
	top: 3px;
	margin-right: 3px;
	font-size: 31px;
	font-weight: 100;
	-webkit-font-smoothing: antialiased;
}
.toggle-more::before {
	@extend %toggle-display;
	content: '+';
}
.toggle-less::before {
	@extend %toggle-display;
	content: '-';
}

/*-----  End of Toggle More (+) and Less (-)  ------*/