/* Homepage Styles */
.hero {

	.call-to-action {
		position: relative;
		z-index: 100;
		padding-top: 140px;
		margin-bottom: 180px;
		color: $palette-light;
		text-align: center;

		h1 {
		font-size: 4.4rem;
		margin-bottom: $margin-default;

			em {
				display: block;
				font-style: normal;
				color: $brand-quaternary;
			}
		}
		p {
			font-size: $type-size-medium;
			font-family: $font-stack-primary;
		}
		.button { margin-top: $margin-default * 2; }
	}
}
.page-content {
	@include container;
	padding: 0 60px;

	.info {
		@include span(6 of 12);
		@include bleed(gutter(12));
	}
}
