.visually-hidden{position:absolute;overflow:hidden;width:1px;height:1px;padding:0;margin:-1px;border:0;clip:rect(0 0 0 0)}.visually-hidden.focusable:active,.visually-hidden.focusable:focus{position:static;overflow:visible;width:auto;height:auto;margin:0;clip:auto}.print-only,.show-for-print{display:none}@media print{.print-only,.show-for-print{display:block}}body.preview .editable-area:not(.pageBuilderLayoutDesign):empty{padding:10px;border:2px dotted #0e7fb8}body.preview .editable-area:not(.pageBuilderLayoutDesign):empty:after{content:'Content Layout Area';color:#0e7fb8}body.preview .pageBuilderLayoutDesign:hover{border-color:#052d42}
/*# sourceMappingURL=pagebuilder.css.map */
