/*============================================
=            Master Variable List            =
============================================*/

/*==============================
=            Colors            =
==============================*/

/*==========  Brand Colors  ==========*/
/**

    NOTE:
    - These variables are gospel.  DO NOT CHANGE!
    - These values are based off our branding guidelines. Any change affects almost all site elements.

**/
$brand-primary:         #fdd328                         !default;   // color: KB Yellow
$brand-secondary:       #9bb5b2                         !default;   // color: sky blue
$brand-tertiary:        #7b9d99                         !default;   // color: seafoam green
$brand-quaternary:      #d6e4dc                         !default;   // color: sun yellow

/*==========  Site Palette  ==========*/
/**

    NOTE:
    - Site-wide color palette.
    - Be wary when altering these values.  Like the brand colors, they affect EVERYTHING.
    - It's separated into 4 categories: Utility, Greys, Colors, Emotional.
    - Utility Palette handles typically static color values of black, white, and transparent.
      They are defined here to be used globally, and simply allow us to globally change
      these values should we ever need to.  This is HIGHLY unlikely,
      but the feature is there if needed.
    - Greys Palette defines all of our commonly used variations of grey. Because we use
      so many variations, it made sense to separate out a section specifically for greys.
      No, there will never be 50 shades. :|
    - Colors Palette defines our site-wide colors that do not fall within the realm of our
      primary branding colors.  This allows for a safer separation and distinction between
      the brand and additional hues we desire to make use of going forward.
    - Emotional Palette is an extension of our color palette. Intended to be used
      to convey certain emotional states (particularly useful for messaging, errors, etc.)

**/
/*==========  Utility  ==========*/
$palette-light:         #fff                            !default;   // color: White -
$palette-dark:          #000                            !default;   // color: Black -
$palette-utility:       transparent                     !default;   // color: Transparent -

/*==========  Greys  ==========*/
$palette-white-grey:    #f9f9f9                         !default;   // color: White Grey -
$palette-light-grey:    #f2f2f2                         !default;   // color: Light Grey -
$palette-grey:          #ccc                            !default;   // color: Grey -
$palette-medium-grey:   #999                            !default;   // color: Medium Grey -
$palette-dark-grey:     #333                            !default;   // color: Dark Grey -

/*==========  Colors  ==========*/
$palette-primary:       #555                            !default;   // color: Charcoal Grey -
$palette-secondary:     #0e7fb8                         !default;   // color: Flat Vibrant Blue -
$palette-tertiary:      #fef1bb                         !default;   // color: Light Gold Yellow -
$palette-quaternary:    #d8d8d8                         !default;   // color: Footer Grey -
$palette-quinary:       #555f65                         !default;   // undefined -
$palette-senary:        #4d91ae                         !default;   // undefined -
$palette-septenary:     #4f5a65                         !default;   // color: River Bed
$palette-octonary:      #fff                            !default;   // color: undefined
$palette-novenary:      #fff                            !default;   // color: undefined
$palette-decenary:      #fff                            !default;   // color: undefined

$palette-warning:       #fcffc6                         !default;   // color: Light Yellow -
$palette-highlight:     #f60                            !default;   // color: Orange -

/*==========  Emotional  ==========*/
$palette-positive:      #4b4                            !default;   // color: Green -
$palette-negative:      #cf0000                         !default;   // color: Red -
$palette-neutral:       #f1f2f0                         !default;   // color: Grey -


/**

    NOTE:
    - Values below are based off values above.
    - These colors are more flexible - be wary when changing as they affect site-wide components!
    - Values here should be variables only.  Please pull only from the color palette above!
    - DO NOT HARD-CODE COLOR VALUES HERE (see previous rule).

**/

/*==========  Links  ==========*/
$link-primary:          $palette-secondary              !default;   //Blue
$link-primary-hover:    lighten($link-primary, 30%)     !default;   //Red < 30%
$link-secondary:        $palette-dark                   !default;   //Black
$link-secondary-hover:  lighten($link-secondary, 50%)   !default;   //Black > 30%
$link-tertiary:         $brand-primary                  !default;   //KB Yellow
$link-tertiary-hover:   darken($link-tertiary, 50%)     !default;   //Rich Grey < 30%

/*==========  Type  ==========*/
$text-primary:          $palette-septenary              !default;   //Rich Grey
$text-secondary:        $palette-dark                   !default;   //Black
$text-tertiary:         lighten($palette-septenary, 55%)!default;   //White

/*==========  Backgrounds  ==========*/
$background-site:       $palette-light-grey             !default;   //Light Grey
$background-content:    $palette-light                  !default;   //White
$background-highlight:  $brand-primary                  !default;   //Rich Grey
$background-accent:     $brand-quaternary               !default;   //Rich Light Grey
$background-container:  $palette-light                  !default;   //White
$background-modal:      $palette-light                  !default;   //White
$background-intercept:  $palette-light                  !default;   //White
$background-result:     $palette-light                  !default;   //White

/*==========  Messaging  ==========*/
$message-success:       lighten($palette-positive, 50%)  !default;
$message-info:          $palette-neutral                !default;
$message-warning:       $palette-warning                !default;
$message-error:         lighten($palette-negative, 50%)  !default;
$message-upsell:        $palette-warning                !default;

$status-tag-default:    $palette-medium-grey            !default;
$status-tag-alert:      $palette-highlight              !default;
$status-tag-positive:   $palette-positive               !default;

/*==========  Menus  ==========*/
$menu-hover-background:     lighten($palette-grey, 5%)  !default;   //Light Grey
$menu-hover-text:           $palette-dark-grey          !default;   //Dark Grey
/*-----  End of Colors  ------*/

/* ==========================================================================
   Paths
   ========================================================================== */
$path-site-assets: '/kb-assets';

/*=====================================================
=            Miscellaneous Visual Elements            =
=====================================================*/
/*==========  Logos  ==========*/
$logo-kb:          url('#{$path-site-assets}/img/logos/KB_Logo.svg')  !default;

$logo-main:         $logo-kb                           !default;

/*==========  Hero Photos  ==========*/
/**

    NOTE:
    - A central repository for all hero photography to be referenced.

**/
$hero-primary:          url('/content/images/hm-ca-la_county.jpg')           !default;
$hero-secondary:        url('')             !default;
$hero-tertiary:         url('')             !default;
$hero-quaternary:       url('')             !default;

/*=========== View Height Sizing ============ */
$hero-height-fixed:     800px                   !default;
$hero-height-relative:  80vh                    !default;
$hero-height-min:       500px                   !default;
$hero-height-max:       800px                   !default;
$map-height:            $hero-height-relative   !default; //de-linking map-height from hero-height-relative may break pages. adjust carefully!
$map-height-min:        $hero-height-min        !default;
$map-height-max:        $hero-height-max        !default;

/*==========  Background Photos  ==========*/
$background-primary:    url('#{$path-site-assets}/img/backgrounds/contact-us.jpg')       !default;


/*==========  Brand Tagline  ==========*/
$brand-tagline:         'BUILT FOR BRIGHTER OUTLOOKS\2122'                            !default;


/*===================================
=            Scaffolding            =
===================================*/

    /*==================================
    =            Typography            =
    ==================================*/
    /*==========  Font Stacks  ==========*/
    $font-stack-primary:            'OpenSans', sans-serif                  !default;
    $font-stack-secondary:          'NewsGothicBTCondensed', sans-serif     !default;
    $font-stack-tertiary:           'Helvetica', 'Arial', sans-serif        !default;

    /*==========  Sizing  ==========*/
    $type-size-base:            16px                            !default;   //1rem

    $type-size-largest:         1.5rem                          !default;   //24px
    $type-size-larger:          1.25rem                         !default;   //20px
    $type-size-large:           1.125rem                        !default;   //18px
    $type-size-medium:          0.875rem                        !default;   //14px
    $type-size-small:           0.8125rem                       !default;   //13px
    $type-size-smaller:         0.75rem                         !default;   //12px
    $type-size-smallest:        0.625rem                        !default;   //10px

    /*==========  Additional Sizes:  Use Sparingly  ==========*/
    $type-size-super-massive:   3rem                            !default;   //48px
    $type-size-massive:         2.375rem                        !default;   //38px
    $type-size-grand:           2.25rem                         !default;   //36px
    $type-size-huge:            1.75rem                         !default;   //28px
    $type-size-micro:           0.5625rem                       !default;   //9px

    /*==========  Line Height  ==========*/
    $base-line-height:      1.5 * $type-size-base          !default;

    /*========================================
    =            Padding & Margin            =
    ========================================*/
    $padding-default:       20px                            !default;
    $padding-half:          $padding-default / 2            !default;
    $padding-quarter:       $padding-default / 4            !default;

    $margin-default:        20px                            !default;
    $margin-half:           $margin-default / 2             !default;
    $margin-quarter:        $margin-default / 4             !default;

    $dropdown-margin:       $margin-default - 5             !default;   //15px (Default margins for drop-downs)
    $dropdown-padding:      $padding-default - 5            !default;   //15px (Default padding for drop-downs)

    /*==========  Body  ==========*/
    $body-padding:          0                               !default;
    $body-margin:           0                               !default;

    /*========== Media Queries =========*/

    /* Ranges */
    $range-tiny:        (min-width: 0) and (max-width: 640px)       !default;
    $range-small:       (min-width: 641px) and (max-width: 1024px)  !default;
    $range-medium:      (min-width: 1025px) and (max-width: 1440px) !default;
    $range-large:       (min-width: 1441px) and (max-width: 1920px) !default;
    $range-massive:     (min-width: 1921px)                         !default;

    // Queries: Use these to build your media queries.  Example: @media #{$media-tiny} { }
    $media-tiny:        only screen and #{$range-tiny}      !default;
    $media-small:       only screen and #{$range-small}     !default;
    $media-medium:      only screen and #{$range-medium}    !default;
    $media-large:       only screen and #{$range-large}     !default;
    $media-massive:     only screen and #{$range-massive}   !default;

    /*-----  End of Media Queries  ------*/

    /*==========  Containers  ==========*/
    $container-padding:     $padding-default                !default;
    $container-margin:      $margin-default                 !default;

    /*-----  End of Padding  ------*/


    /*=====================================
    =            Border Radius            =
    =====================================*/

    $border-radius:         2px                             !default;
    $border-radius-alt:     4px                             !default;
    /*-----  End of Border Radius  ------*/

    /*======================================
    =           Content Container          =
    ======================================*/
    $page-width:               1080px                       !default;
    $content-width:            820px                        !default;


    /*-----  End of Maincontent  ------*/

    /*======================================
    =            Z-Index Values            =
    ======================================*/

    $zindex-standard:       -1                              !default;
    $zindex-sidebar:        20                              !default;
    $zindex-highlighted:    30                              !default;
    $zindex-close:          50                              !default;
    $zindex-drop-down:      500                             !default;
    $zindex-map-components: 700                             !default;
    $zindex-header:         800                             !default;
    $zindex-modal:          1100                            !default;
    $zindex-modal-screen:   1000                            !default;


    /*-----  End of Z-Index Values  ------*/

    /*======================================
    =            Opacity Values            =
    ======================================*/

    $opacity-modal-screen:  0.6                             !default;

    /*-----  End of Opacity Values  ------*/

    /*====================================
    =            Width Values            =
    ====================================*/

    $modal-width-default:   400px                           !default;

    /*-----  End of Width Values  ------*/

    /*====================================
    =            Box Shadows            =
    ====================================*/

    $shadow-primary:        0 2px 1px rgba(87, 123, 117, 0.5)  !default;
    $shadow-secondary:      0 0 15px rgba(179, 179, 179, 0.4)  !default;
    $shadow-tertiary:       0 0 15px rgba(0, 0, 0, 0.25)       !default;
    $shadow-quaternary:     0 0 5px rgba(0, 0, 0, 0.25)        !default;

    /*-----  End of Box Shadows  ------*/

    /*====================================
    =            Text Shadows            =
    ====================================*/

    $text-shadow-primary:        0 2px 1px rgba(87, 123, 117, 0.5) !default;
    $text-shadow-secondary:      0 1px 0 rgba(255, 255, 255, 0.8)  !default;
    $text-shadow-tertiary:       0 0 15px rgba(0, 0, 0, 0.25)      !default;
    $text-shadow-quaternary:     0 -1px 0 rgba(0, 0, 0, 0.5)       !default;
    $text-shadow-quinary:        0 1px 0 rgba(0, 0, 0, 0.8)        !default;
    /*-----  End of Text Shadows  ------*/




/*-----  End of Scaffolding  ------*/