/* Local Variables */
$filter-background: #f7f9f9;

/* Legacy Code */
#qmi-filter {
    overflow: hidden;
    height: 0;
    max-height: 0;
    padding: 0;
    transition: max-height 1s ease-in-out;
    border: 1px solid $palette-grey;
    border-radius: 2px;
    color: #5c7a75;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    visibility: hidden;
    animation-duration: 1s;
    animation-delay: .05s;
    animation-fill-mode: both;
}

#qmi-filter.active {
    height: auto;
    max-height: 500px;
    padding: 25px 15px 10px;
    transition: max-height 1s ease-in-out;
    visibility: visible;
}
#filter-disclaimer {
    padding: 10px 0 0;
    color: $palette-medium-grey;
    font-size: $type-size-smallest;
    line-height: 110%;
}
#qmi-filter label { font-size: $type-size-smaller; }
#qmi-filter label.filter-label {
    color: #3e5a55;
    font-weight: 700;
}
#qmi-filter input[type='text'] {
    width: 92%;
    height: auto;
    padding: 4px 5px;
    background: $palette-light;
}
.filter-control {
    display: none;
    width: 80px;
    float: right;
    margin-right: 7px;
}
.filter-control.active {
    display: block;
}
.toggle-filters.active {
    z-index: 1;
    height: 38px;
    border: 1px solid $palette-grey;
    border-bottom: 1px solid $filter-background;
    border-radius: 2px 2px 0 0;
    background: $filter-background;
    box-shadow: 0 4px 0 $filter-background, 0 3px rgba(0, 0, 0, 0.15);
}
.toggle-filters i {
    position: absolute;
    top: 0;
    right: 7px;
}
.toggle-filters i.kb-icon-sort-down { top: 0; }
.toggle-filters i.kb-icon-sort-up { top: 7px; }
.qmi-now-showing { display: inline; }
#filter-msg {
    display: none;
}
#qmi-filter .close-filters {
    position: absolute;
    top: 2px;
    right: 7px;
    color: $palette-grey;
    font-size: 1.1rem;
    text-shadow: 0 1px 0 $palette-light;
    cursor: pointer;
}
#qmi-filter .close-filters:hover {
    color: darken($palette-medium-grey, 10%);
}
#qmi-filter #do-reset {
    display: inline-block;
    margin-left: 3px;
    font-size: $type-size-smaller;
}
#qmi-filter .filter-column {
    min-height: 190px;
    padding-right: $padding-default / 2;
    border-right: 1px solid #ddd;
    border-left: 1px solid $palette-light;
}
#qmi-filter .filter-column:last-child { border-right: 0; }
#qmi-filter .filter-column:first-child { border-left: 0; }
#qmi-filter .range-input:disabled {
    color: $palette-grey;
    background: $palette-light-grey;
}
#qmi-filter .input-range-group {
    margin-top: 24px;
    margin-bottom: 0;
}
#qmi-filter .input-range-group li {
    float: left;
    width: 50%;
}
#qmi-filter .noUi-value {
    display: none;
}
#qmi-filter .range-filter-msg {
    display: none;
    color: #aaa;
    font-size: $type-size-smallest;
    line-height: 100%;
}
#qmi-filter .range-filter-msg i {
    float: left;
}
#qmi-filter .noUi-marker-horizontal.noUi-marker-large {
    height: 8px;
}
#qmi-filter .filter-group {
    width: 48%;
    float: left;
    margin: 0;
    margin-left: 3%;
}
#qmi-filter .filter-group.row-num-0 {
    width: 100%;
    margin: 0;
}
#qmi-filter .filter-group.row-num-1,
#qmi-filter .filter-group.row-num-3,
#qmi-filter .filter-group.row-num-5 { margin-left: 0; }
#qmi-filter input[type='radio'] { margin-right: 4px; }
#qmi-filter .filter-group .filter-label {
    display: block;
    width: 100%;
    height: 23px;
    line-height: 23px;
}
#qmi-filter .filter-group .ui-form-select {
    display: block;
    width: 100%;
    min-width: 0;
    margin: 0 0 5px;
}
#qmi-filter .filter-group .filter-show-all,
#qmi-filter .filter-group .filter-value {
    display: inline-block;
    height: 23px;
    padding-right: 1.5%;
    font-size: 1.1rem;
    line-height: 23px;
}
#qmi-filter .range-filter .filter-label { margin-bottom: 11px; }
#qmi-filter .range-filter .range-value-label { font-size: $type-size-smallest; }
#qmi-filter .filter-slider {
    width: 95%;
    margin-left: 4px;
}
#qmi-filter .range-filter .range-value-label {
    display: inline-block;
    margin-bottom: 2px;
    text-transform: capitalize;
}
#qmi-filter .filter-group.filter-select { padding-bottom: 5px; }
#qmi-filter .filter-values-group { margin: -6px 0 2px; }

.qmi-container {

	.paging-head {
		@include container;
		padding-bottom: $padding-default;
		margin-bottom: $margin-default;
		border-bottom: 1px solid $palette-grey;

		.counter {
			@include span(7 of 12);
			margin: 0;
			font-size: $type-size-smaller;
			line-height: 14px;
			white-space: nowrap;
		}
		.filter-sort {
			@include span(5 of 12);
			margin: 0;

			.ui-form-select,
			.filter-control {
				float: right;
				margin-left: $margin-default / 2;
			}

			.sortbar {
				width: 40%;
				min-width: 80px;
			}
		}
	}
	.drop-down {
		@extend %clearfix;
		position: relative;
		top: -11px;
		box-sizing: border-box;
		width: 100%;
		border: 1px solid $palette-light-grey;
		background-color: $filter-background;
	}
	.filter-content {
		@extend %clearfix;

		.filter-price-range,
		.filter-location,
		.filter-size {
			@include span(4 of 12);
			box-sizing: border-box;
			height: 185px;
	        padding-right: $padding-default / 2;
	        margin-right: gutter(12);
	        border-right: 1px solid darken($palette-light-grey, 8%);
	        box-shadow: 1px 0 0 $palette-light;

	        &:last-child {
	        	padding-right: 0;
	        	margin-right: 0;
	        	border-right: 0;
	        	box-shadow: none;
	        }
		}

	}
	.filter-action-container {
		@extend %clearfix;

		.disclaimer,
		.filter-action {
			@include span(6 of 12);
			margin-right: 0;
		}
		.filter-action {
			float: right;
			text-align: right;

			a {

				&.button {
					font-family: $font-stack-secondary;
					font-size: $type-size-small;
					font-weight: bold;
					text-shadow: $text-shadow-quaternary;
					text-transform: uppercase;
				}
			}
		}
	}
}
@include media-custom(0, 980px) {
	.criteria-msg { display: none; }
}

@include media-custom(0, 830px) {
	#qmi-filter label { font-size: $type-size-smallest; }
	main {
		.content {
			.qmi-container {
				.paging-head {
					.counter,
					.filter-sort {
						@include span(6 of 12);
						margin-right: 0;
					}
				}
			}
		}
	}
}

@media #{$media-tiny} {
	.filter-content { @include clearfix; }
	.filter-action-container {
		.disclaimer,
		.filter-action {
			@include span(6 of 12);
			margin-right: 0;
		}
		.filter-action {
			float: right;
			text-align: right;

			a {

				&.button {
					font-family: $font-stack-secondary;
					font-size: $type-size-small;
					font-weight: bold;
					text-shadow: $text-shadow-quaternary;
					text-transform: uppercase;
				}
			}
		}
	}
	#qmi-filter {
		padding: $padding-default * .75;

		label { font-size: $type-size-smaller; }

		.filter-location { @include clearfix; }
		.filter-slider,
		.filter-group .ui-form-select,
		input[type='text'] { @include span(12 of 12); }

		.filter-slider { margin-bottom: $margin-default; }

		.filter-group {
			margin-left: 0;

			&.row-num-1,
			&.row-num-2,
			&.row-num-3,
			&.row-num-4 {
				@include span(6 of 12);

				&:nth-child(2n+1) { margin-right: 0; }
			}
		}

		.input-range-group {
			@include clearfix;
			@include container();

			li {
				@include span(6 of 12);
				box-sizing: border-box;

				&:last-child { margin-right: 0; }
			}
		}
	}
}