@include media-custom(0, 1045px) {
	.kb-container { overflow: hidden; }
	aside {

		.features {
			@include type-setting(1);
		}
	}
}
@include media-custom(0, 990px) {
	.hero {
		transition: background-position-y 0.3s ease-in-out;
		background-position-y: -90px;
	}
}
@include media-custom(0, 950px) {
	aside {
		.summary {

			> h1 { padding-right: 330px; }
			figure {
				bottom: 120px;
				width: 300px;
				transition: all 0.3s ease-in-out;
			}
		}
		.features {
			@include type-setting(0);

			li {
				width: 130px;
				padding-left: 55px;
				margin-right: $margin-default / 2;

				&::before {
					top: -2px;
					width: 45px;
					height: 45px;
				}
			}
		}

		&.align-left {
			.summary {
				h1 { padding-left: 325px; }
			}
		}
	}
}
@include media-custom(0, 900px) {
	.hero { background-position-y: 0; }

	aside {

		.summary {

			> h1 {
				padding-right: 0;
				margin-bottom: $margin-default / 2;
			}
			figure {
				top: -393px;
				right: 19px;
				bottom: auto;
				width: 240px;
				padding: 0;
				border-radius: 0;
				background-color: rgba(255, 255, 255, 0.9);
				text-shadow: $text-shadow-secondary;

				figcaption { background: none; }
			}
		}

		&.align-left {
			.summary {
				h1 { padding-left: 0; }
			}
		}
	}
}
@media #{$media-tiny} {
	.hero { height: 340px; }
	aside {

		.summary {
			padding: ($padding-default + 2) $padding-default $padding-default 150px;
			overflow: hidden;

			&::before {
				left: 20px;
				background-size: 60%;
			}
			> h1 { display: block; }
			figure {
				display: none;
			}
		}

		&.align-left {
			.summary {

				padding: 32px 160px 15px 32px;

				> p {
					margin-right: -130px;
					margin-left: auto;
				}

				&::before {
					right: -150px;
					left: auto;
				}
			}
		}

		.features {
			display: block;

			li {
				@include clearfix;
				display: block;
				width: auto;
				float: none;
				padding-right: 0;
				margin-bottom: $margin-default / 2;
				font-size: 5.7vw;
				line-height: 45px;
			}
		}
	}
	main {
		.content {

			.qmi-container {

				.qmi {

					.qmi-data {
						width: 100%;
						float: none;
						margin: 0 0 $margin-default;

						picture {
							width: 100%;

							img { width: 100%; }
						}

						table,
						address { @include type-setting(0); }
					}
					.qmi-details {
						width: 100%;
						float: none;

						.description { @include type-setting(0); }
					}
				}

				.paging-head {

					.counter {
						width: 50%;
						margin: 0;
						white-space: normal;

						.show-all-qmi { white-space: nowrap; }
					}
					.filter-sort {
						width: 50%;
						margin: 0;

						.filter-control { margin: 0; }
					}
				}
			}
		}
	}
}
@include media-custom(0, 374px) {
	aside {
		.summary {

			> h1 {
				margin-top: $margin-default;
				font-size: $type-size-larger;
				line-height: 32px;
			}

			> p {
				margin-top: $margin-default;
				margin-left: -130px;
			}
		}
		.features {
			li { font-size: 5vw; }
		}
	}
}