/* Regional QMI Page */
$regional-hero: url('/kb-assets/img/heroes/hero-phoenix.jpg');
$summary-image: url('/kb-assets/img/pages/regional-qmi/moving-box.svg');
$neighborhoods-icon: url('/kb-assets/img/icons/beige-circles/beige-circle-heart.svg');
$designs-icon: url('/kb-assets/img/icons/beige-circles/beige-circle-lightbulb.svg');
$upgrades-icon: url('/kb-assets/img/icons/beige-circles/beige-circle-thumbsup.svg');
$warranty-icon: url('/kb-assets/img/icons/beige-circles/beige-circle-kbshield.svg');
$qmi-data-width: 180px;

.hero {
	height: 460px;
	transition: background-position-y 0.3s ease-in-out;
	background-position: 0 -160px;
}
aside {
	@extend %clearfix;
	background-color: $palette-light;

	.summary {
		position: relative;
		@include line-gradient(-45deg, #fff3c5, 5%);
		padding: 32px 33px 15px 260px;
		color: $palette-dark;

		&::before {
			position: absolute;
			top: 25px;
			left: 40px;
			content: '';
			width: 288px;
			height: 196px;
			background: $summary-image;
			background-repeat: no-repeat;
  			animation: ani-roadrunner-enter 1800ms linear .8s 1 both;
		}
		> h1 { padding-right: 420px; }


		> h1,
		> p { text-shadow: $text-shadow-secondary; }

		> p { font-size: $type-size-base; }

		figure {
			position: absolute;
			right: 35px;
			bottom: 125px;
			width: 385px;
			padding: $padding-default / 4;
			border-radius: $border-radius-alt;
			background-color: $palette-light;
			box-shadow: $shadow-tertiary;

			img {
				width: 100%;
				float: left;
				margin-bottom: $margin-default / 2;
			}

			figcaption {
				@include line-gradient(-45deg, $palette-light-grey, 3.5%);
				padding: $padding-default / 2;
				font-size: $type-size-small;
				line-height: 18px;

				h3 { line-height: 28px; }

				p { margin: 0; }
			}
		}
	}

	&.align-left {

		.summary {
			padding: 32px 260px 15px 32px;
			text-align: right;

			&::before {
				right: -70px;
				left: auto;
			}

			figure {
				right: auto;
				left: 35px;
				text-align: left;
			}

			h1 {
				padding-right: 0;
				padding-left: 405px;
			}
		}
	}
	.features {
		display: flex;
		position: relative;
	    flex-direction: row;
	    flex-wrap: nowrap;
	    align-content: stretch;
	    align-items: center;
	    justify-content: center;

	    padding: $padding-default + 10;

		color: #A37831;
		font-family: $font-stack-secondary;
		font-size: $type-size-larger;
		line-height: 30px;

		li {
			position: relative;
			z-index: $zindex-highlighted;
		    flex: 0 1 auto;
		    align-self: auto;
			order: 0;

			width: 150px;
			float: left;
			padding-left: 75px;
			margin-right: $margin-default;

			&::before {
				position: absolute;
				top: -3px;
				left: 0;
				content: '';
				width: 65px;
				height: 65px;
				background: $warranty-icon;
			}

			&:last-child { margin-right: 0; }

			&.neighborhoods {
				animation: ani-bounce-in-z 0.2s ease-in-out 1.85s 1 both;

				&::before { background: $neighborhoods-icon; }
			}
			&.designs {
				animation: ani-bounce-in-z 0.2s ease-in-out 2.05s 1 both;

				&::before { background: $designs-icon; }
			}
			&.upgrades {
				animation: ani-bounce-in-z 0.2s ease-in-out 2.25s 1 both;

				&::before { background: $upgrades-icon; }
			}
			&.warranty {
				animation: ani-bounce-in-z 0.2s ease-in-out 2.45s 1 both;

				&::before { background: $warranty-icon; }
			}
		}
	}
	.end-tape {
		@include line-gradient(-45deg, #fed748, 10%);
		position: relative;
		padding: $padding-default;
		color: $palette-dark-grey;
		font: bold $type-size-large $font-stack-secondary;
		text-align: center;
		text-shadow: $text-shadow-secondary;
		text-transform: uppercase;
		box-shadow: inset 0 10px 8px -6px rgba(0, 0, 0, .3);

		p { margin: 0; }
	}
}

main {

	aside {
		background-color: $palette-white-grey;
		text-align: center;

		h3 {
			overflow: hidden;
			padding: 0 0 ($padding-default / 1.3);
			border-bottom: 1px solid $palette-light;
			color: #453832;
			font-size: $type-size-large - .05;
			line-height: 28.8px;
			box-shadow: inset 0 -1px 0 $palette-grey;

			span { white-space: nowrap; }
		}
		.map {
			display: none;
			box-sizing: border-box;
			width: 100%;
			padding: 2px;
			box-shadow: $shadow-quaternary;
		}
		ul {
			text-align: left;

			li {
				position: relative;
				padding-left: 85px;
				line-height: 26px;

				a {
					transition: none;
					color: $palette-primary;
					font-size: $type-size-medium;
				}

				.qmi-available {

					&::before {
						position: absolute;
						top: 7px;
						left: 0;
						content: 'Move-In Ready';
						padding: 0 3px;
						background-color: $brand-primary;
						font-size: $type-size-smallest;
						font-weight: bold;
						line-height: 14px;
					}

					&:hover {
						&::before { color: $palette-primary; }
					}
				}
			}
		}
	}
	.content {

		h2 { @include type-setting(3); }

		.qmi-container {
			position: relative;

			.qmi {
				@extend %clearfix;
				position: relative;
				padding-bottom: $padding-default * 1.5;
				margin-bottom: $margin-default * 1.5;
				border-bottom: 1px solid $palette-light-grey;

				&::before {
					display: none;
					position: absolute;
					top: 0;
					left: 0;
					content: 'QMI';
					padding: 2px 3px 0;
					background-color: $brand-primary;
					font-size: $type-size-smallest;
					font-weight: bold;
					line-height: 15px;
				}

				.qmi-data {
					width: $qmi-data-width;
					float: left;
					margin-right: $margin-default;
					border: 1px solid $palette-grey;
					text-align: left;

					picture {
						width: 180px;
						float: left;

						img { width: 180px; }
					}

					address {
						padding: $padding-default / 4;
						background-color: $palette-light-grey;
						font-size: $type-size-smaller;
						font-style: normal;
						font-weight: bold;
					}
					table {
						width: 100%;
						font-size: $type-size-smaller;

						tr {

							th,
							td {
								padding: $padding-default / 4;
								border-bottom: 1px solid $palette-light-grey;
							}

							&:last-child {
								th,
								td { border-bottom: 0; }
							}

							th { font-weight: normal; }
							td { font-weight: bold; }
						}
					}
				}
				.qmi-details {
					width: calc(100% - #{$qmi-data-width + $padding-default + 2});
					float: left;
					margin: 0;

					.contact {
						@extend %clearfix;
						@include type-setting(1);
						margin-bottom: $margin-default;
						background-color: #fff6d8;

						span {
							display: inline-block;
							margin: 10px 0 0 10px;
							font-family: $font-stack-secondary;
						}

						.button {
							float: right;
							padding-top: 13px;
							padding-bottom: 12px;
							border-radius: 0;
							font-family: $font-stack-secondary;
							font-weight: bold;
							text-shadow: $text-shadow-secondary;
							text-transform: uppercase;
						}
					}

					.description {
						@include type-setting(-2);
					}
				}
			}
		}

		.legal {
			font-size: $type-size-smallest;
			line-height: 14px;
			text-align: justify;
    		text-justify: inter-word;
		}
	}
}