@include media-custom(0, 855px) {
	main {

		.content {

			.community-row {

				&:first-child { border-top: 1px solid $palette-grey; }

				.community-details {
					font-size: 1.3vw;
					line-height: 2vw;

					h3 {
						font-size: 2.9vw;
						line-height: 2.9vw;
						margin-top: 0;
					}
					.phone { margin-bottom: $margin-default / 4; }
					.additional-details {

						> div {
							float: none;
							padding: 0;
							margin: 0;
							border: 0;
						}
					}
				}
			}
		}
	}
}

@include media-custom(0, 640px) {
	html,
	body { overflow-x: hidden; }
	header { width: auto; }
	.hero { display: none; }
	main {

		&.standard {

			> aside { display: none; }

			> .content {
				padding: 0;

				&.map-view {

					&.kb-map {
						.gm-fullscreen-control { display: none; }
					}
				}
				.list-view-header {
					position: relative;
					z-index: $zindex-map-components;
					height: 57px;
					padding: $padding-default 0;
					text-align: right;

					.map-view { margin-right: $margin-default; }
				}
				.inner {

					.list-view-intro {
						display: block;
						padding: ($padding-default / 2) $padding-default 0;
						background-color: $palette-light-grey;
						color: $palette-dark-grey;
						box-shadow: inset 0 5px 5px -5px rgba(0,0,0,.5);
					}
					.sort-bar {
						@include clearfix;

						.community-count {
							@include span(5 of 12);

							> .kb-alert {
								padding: 0;
								margin: 0;
								border: 0;
								background-color: $palette-utility;
							}
						}
						.region-text { display: none; }
						.region-sorting {
							@include span (7 of 12 last);
						}
					}

					h2 {
						font-size: $type-size-large;
						text-shadow: 0 1px 0 $palette-light;

						span {
							display: block;
							margin-top: -13px;
							font-size: $type-size-massive;
						}
					}
				}
				.toggle-map-view,
				.toggle-list-view {

					i { margin-left: $margin-default / 4; }
				}
				.community-row {
					padding-left: $padding-default * 1.25;

					.community-link {

						picture,
						img { height: 67px; }
					}
					.community-details {
						padding-left: 120px;
						margin: -68px 0 0;
						font-size: 3vw;
						line-height: 4.2vw;

						.directions {
							display: block;
						    position: absolute;
						    left: 35px;
						    margin-top: 75px;
						    font-size: $type-size-smallest;
						}
						.status {
							position: absolute;
							left: $padding-default * 1.25;
							width: 100%;
							margin-top: -$margin-default;
							font-size: $type-size-smallest;
							font-weight: 400;
							text-align: left;
						}
						h3 {
							width: 100%;
							font-size: 5vw;
							line-height: 5vw;
						}
						.property-details {

							.property-stats {
								padding-right: 49px;
							}
							.property-actions {
								float: right;

								.button {
									position: relative;
									right: 0;
									padding-top: 20px;
									padding-bottom: 20px;
									border-right: 0;
									border-top-right-radius: 0;
									border-bottom-right-radius: 0;

									span { display: none; }
								}
							}
						}
					}
				}
				.studios-container {
					@include clearfix;
					padding: $padding-default;
				}
			}
		}
	}
}