main {
	> aside {
		@include type-setting(-1);

		.nearby-communities {
			margin-bottom: $margin-default / 2;

			a { color: $palette-light; }
			li { margin: 0; }
			&.bulleted {
				li::before { color: $palette-light; }
			}
		}
	}
	> .content {

		.sort-bar { padding-bottom: $padding-default; }
		.region-sorting {
			@extend %clearfix;

			.ui-form-select {
				width: 180px;
				float: right;
				margin-bottom: 0;
			}
		}
		.community-row {
			@extend %clearfix;
			padding: ($padding-default * 1.3) 0;
			border-top: 1px solid $palette-light-grey;

			.community-link {
				position: relative;
				float: left;
				margin-right: $margin-default;

				picture {
					display: block;
					height: 120px;

					img { max-height: 120px; }
				}
			}
			.community-details {
				box-sizing: border-box;
				width: 100%;
				float: left;
				padding-left: 200px;
				margin-left: -200px;
				font-size: $type-size-medium;
				line-height: 23px;

				.property-intro { @extend %clearfix; }
				.status {
					@include span(5 of 12)
					right: 30px;
					color: $brand-tertiary;
					font-size: $type-size-smaller;
					font-weight: 600;
					line-height: 16px;
					text-align: right;
					text-transform: uppercase;
				}
				h3 {
					@extend %clearfix;
					@include span(7 of 12);
					margin: -5px 0 0;

					a {
						margin: 0;
						color: $palette-dark;
					}
				}
				address {
					font-style: normal;
				}
				.property-details {
					@extend %clearfix;

					.property-stats {
						@extend %clearfix;
						@include span(full inside no-gutters);
						float: left;
						padding-right: 79px;
					}
					.property-actions {
						@extend %clearfix;
						min-width: 75px;
						float: left;
						margin-left: -75px;
						text-align: right;
					}
				}

				div:last-of-type { margin-bottom: 0; }
				// Hidden
				.floor-plans,
				.bathrooms,
				.garage,
				.directions { display: none; }

				.bedrooms,
				.sqft { float: left; }
				.additional-details {
					@extend %clearfix;
					margin-bottom: -5px;

					> div {
						padding-right: $padding-default / 2;
						margin-right: $margin-default / 2;
						border-right: 1px solid $palette-grey;
					}
					> div:last-child {
						padding: 0;
						margin: 0 -75px 0 0;
						border: 0;
					}
				}
				.phone { margin-bottom: $margin-default / 7; }
			}
		}
		.studios-container {
			padding-top: $padding-default;
			border-top: 1px solid $palette-light-grey;

			h5 { font-weight: 100; }

			.studio {
				@include type-setting(-3);
				float: left;
				width: 50%;

				h4 { margin-bottom: $margin-default / 4; }
				address {
					margin-bottom: $margin-default / 4;
					font-style: normal;
				}
				.contact-directions {
					margin-bottom: $margin-default / 1.5;
				}
				.studio-phone,
				.studio-directions { display: block; }
				.studio-phone {

					&.show-for-small { display: none; }
				}
			}
		}
	}
}