/*Navigation Overlay*/
.mobile-directions-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $zindex-modal-screen;
    width: 100%;
    height: 95vh;
    transition: opacity .25s ease-in-out;
    background: rgba(0, 0, 0, $opacity-modal-screen);
    opacity: 0;
    pointer-events: none;

    &.active {
        transition: opacity .3s ease-in-out;
        opacity: 1;
        pointer-events: all;
    }

    .close-button {
        position: fixed;
        top: 5px;
        right: 5px;
        text-shadow: none;

        a {
            background: $palette-utility;
            color: $palette-light-grey;
            font-size: 1.3rem;
            cursor: pointer;
        }
    }

    .box-content {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50%;
        margin-top: -95px;
        margin-left: -25%;

        ul {
            padding: 0;
            margin: 0;
            box-shadow: $shadow-tertiary;
            list-style-type: none;

            li {
                padding: 0;
                margin: 0;
                text-align: center;

                strong {
                    display: block;
                    height: 45px;
                    border-radius: 4px 4px 0 0;
                    background: darken($palette-light-grey, 7%);
                    line-height: 45px;
                    text-shadow: 1px 1px 0 $palette-light;
                }

                a {
                    display: block;
                    height: 45px;
                    border-top: 1px solid darken($palette-light-grey, 10%);
                    background: $palette-light;
                    line-height: 45px;

                    &:hover,
                    &:active { background-color: #cbeaf6; }
                }
                &:last-child {

                    a { border-radius: 0 0 4px 4px; }
                }
            }
        }

        .box-closer { margin-top: $margin-default * .75; }
    }
}