/**
 * Description: Default Styling for Basic Map Components.
 * Version: 1.0.0
 * Last update: 2016/06/27
 * Author: David Vasquez <dvasquez-x@kbhome.com>
 */

 .kb-map {
 	/* Tooltip */
 	.tooltip {
 		padding: ($padding-default / 2) ($padding-default / 2) (($padding-default / 2) - 3 );
 		background-color: $palette-warning;

 		h3 {
 			margin-bottom: 0;
 			font-size: $type-size-small;
 			line-height: 16px;
 		}
 	}

 	/* Property Card */
 	.infoBox {
 		color: $text-primary;

	 	.info-content {
	 		position: relative;
 			box-sizing: border-box;
	 		width: 360px;
 			padding: $padding-default / 2;
	 		background-color: $palette-light;

	 		h3 { padding-right: $padding-default; }
	 	}
 		.close-button {
 			display: block;
 			position: absolute;
 			top: 10px;
 			right: 10px;
 			z-index: $zindex-close;
 			width: 15px;
 			height: 14px;
 			background-color: $brand-primary;
 			cursor: pointer;

 			&::before {
 				position: relative;
 				top: -5px;
 				left: 4px;
 				font-size: $type-size-smallest;
 			}
 		}

		.community-detail {
			@extend %clearfix;
			padding: 0;
		}
		.cluster-header {
			padding-bottom: $padding-default / 4;
			margin-bottom: $margin-default / 2;
			border-bottom: 1px solid $palette-grey;

			h3 {
				margin-bottom: 0;
				font-size: $type-size-small;
			}
 		}
 		.cluster-info {
			@extend %clearfix;
			margin-bottom: $margin-default / 4;

			&.info-content {
				border: 1px solid $palette-grey;
				box-shadow: 0 7px 5px -5px rgba(50, 50, 50, .5);
				cursor: default;

				.home-studio-info {
					line-height: 14px;

					li { margin-bottom: $margin-default / 4; }
				}
			}

			.detail-left {
 				float: left;
 				margin-right: $margin-default / 2;

 				a {
 					@extend %clearfix;
 					display: block;
 					height: 120px;
 				}
 				img {
 					width: 180px;
 					height: 120px;
 				}
 			}
 			.detail-right {
 				position: relative;
 				width: 338px;
 				height: 120px;
 				font-family: $font-stack-secondary;
 				font-size: $type-size-small;
 				font-weight: bold;
 				text-transform: uppercase;

 				li {
 					line-height: 17px;

 					&:last-child {
 						position: absolute;
 						right: 0;
 						bottom: 0;
 					}
 				}

 				.button {
 					box-sizing: border-box;
 					width: 148px;
 					padding: 10px 5px;
 					font-family: $font-stack-secondary;
 					font-size: $type-size-smaller;
 					font-weight: bold;
 					text-transform: uppercase;
 					-webkit-font-smoothing: subpixel-antialiased;

 					&::after {
 						right: 0;
 						width: 5px;
 						height: 5px;
 					}
 				}
 			}
 			.cluster-list {
 				li {
 					a {
 						display: block;
 						text-transform: uppercase;

 						&.active,
 						&.cluster-list-item-sel { color: $palette-medium-grey; }
 						&.kb-badge {
 							padding-left: $padding-default + 5;
 							background: url('/kb-assets/img/logos/KB_Badge.svg') no-repeat 0 3px;

 							&.badge-white { background-image: url('/kb-assets/img/logos/KB_Badge_White.svg'); }
 							&.badge-yellow { background-image: url('/kb-assets/img/logos/KB_Badge_Yellow.svg'); }
 						}
 					}
 				}
 			}
 		}
	}
 }

/* Modify Google Default Controls */
.gm-style-mtc {
	position: absolute;
	top: 50px;
	right: 0;
}