@include media-custom(0, 1280px) {
	.kb-container { margin: 0 auto; }
}
@include media-custom(0, 838px) {
	.promo-hero {
		.hero-content {
			position: relative;

			.hero-text {
				background-color: $palette-dark;
			}
			.promo-action {
				position: relative;
				bottom: auto;
				padding: $padding-default;

				.button {
					display: block;
					@include button-gradient($brand-primary, saturate((darken($brand-primary, 10%)), 5%));
				}
			}
		}
	}
	/* Foundation Override */
	.column,
	.columns { width: 100%; }
}
@include media-custom(0, 516px) {
	.promo-hero {
		.hero-content {
			.hero-text {
				h1 {
					font-size: 9vw;
					line-height: 9vw;
				}
			}
		}
	}
	.content {
		.preface {
			h2 {
				font-size: 7vw;
				line-height: 7vw;
			}
		}
	}
}
@include media-custom(0, 414px) {
	.promo-hero {
		.hero-content {
		}
	}
}