// Alpha Theme
body { background-color: #F1EEEB; }
.kb-container {
	margin: ($margin-default * 2) auto;
	box-shadow: 0 0 20px rgba($palette-grey, 0.5);
}
.promo-hero {
	position: relative;

	img {
		display: block;
		width: 100%;
	}

	.hero-content {
		position: absolute;
		bottom: 0;
		width: 100%;

		.hero-text {
			box-sizing: border-box;
			width: 100%;
			padding: 25px 10%;
			background-color: rgba(0, 0, 0, 0.5);
			color: $palette-light;
			text-align: center;
			text-shadow: $text-shadow-quinary;

			p {
				margin-bottom: 0;
				-webkit-font-smoothing: antialiased;
			}
		}
		.promo-action {
			box-sizing: border-box;
			width: 100%;
			padding: 65px 0;
			text-align: center;
		}
	}
}
.content {
	.preface {
		padding: $padding-default * 2;

		h2 {
			padding: $padding-default * 2;
			border: 1px solid $palette-grey;
			text-align: center;
			box-shadow: inset 0 0 0 5px $palette-light-grey, $shadow-secondary;
		}
		p { @include type-setting(2); }
	}
	.pageBuilderLayout {
		padding: 35px $padding-default;
		background-color: #f0efee;
		box-shadow: inset 0 3px 2px rgba($palette-grey, 0.5), inset 0 -3px 2px rgba($palette-grey, 0.5);
	}
}