/**
 * Description: Listing Box Component.
 * Version: 1.0.0
 * Last update: 2016/10/12
 * Author: David Vasquez <dvasquez-x@kbhome.com>
 *
 * Summary:
 * 				Used to provide basic data about a listing such as price, sq. ft., rooms, etc.
 *	Basic Structure
 *		- 	<div class="listing-box">
 * 				<image>
 *				<table></table>
 *			</div>
 */
a .listing-box { color: $text-primary; }

.listing-box {
	min-width: 180px;
	margin-bottom: $margin-default;
	border: 1px solid $palette-grey;
	background-color: $palette-light;
	box-shadow: $shadow-quaternary;

	.picture {
		width: 100%;
		height: 220px;
	}
	img {
		display: block;
		width: 100%;
	}
	table {
		width: 100%;
		text-align: left;

		td,
		th { padding: 5px $padding-default; }
		thead {
			background-color: $palette-light-grey;

			strong { white-space: nowrap; }
			tr:first-child {
				th { padding-bottom: 0; }
				h3 { margin-bottom: 5px; }
			}
			tr:nth-child(2n) {
				td {
					padding-top: 0;
				}
			}
		}
		tfoot {
			tr {
				td,
				th { border-top: 1px solid darken($palette-light-grey, 3%); }
				address { font-style: normal; }
			}
		}
		tbody {
			tr {
				td {
					padding-left: 0;
					font-weight: bold;
					white-space: nowrap;
				}
				th {
					padding-right: 5px;
					font-weight: normal;
				}
				td,
				th { border-top: 1px solid darken($palette-light-grey, 3%); }
				&:first-child {
					td,
					th { border-top: 0; }
				}
			}

		}
	}
}