/*==========  Code Guidelines  ==========*/
.primary-section,
.secondary-section { margin-bottom: $margin-default * 2; }
.primary-section em {
	color: $palette-primary;
	font-style: normal;
	font-weight: bold;
}