/* http://prismjs.com/download.html?themes=prism-okaidia&languages=markup+css+clike+javascript+aspnet+json+scss+typescript&plugins=line-numbers+autolinker+file-highlight+highlight-keywords */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

/* Color Variables */
$token-base-text: #f8f8f2;
$code-background: #2e2833;
$token-comment: slategray;
$token-property: #ff99c6;
$token-number: #7bccff;
$token-selector: #b8ffb0;
$token-function: #fff595;
$token-keyword: #66d9ef;
$token-important: #fd971f;

code[class*='language-'],
pre[class*='language-'] {
	background: none;
	color: $token-base-text;
	font-family: source-code-pro, Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-weight: 400;
	line-height: 1.5;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	tab-size: 4;
	hyphens: none;
	-webkit-font-smoothing: antialiased;
}

/* Code blocks */
pre[class*='language-'] {
	overflow: auto;
	padding: 1em;
	margin: .5em 0;
	border-radius: 0.3em;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
	background: $code-background;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token {

	a { color: inherit; }

	&.comment,
	&.prolog,
	&.doctype,
	&.cdata { color: $token-comment; }

	&.punctuation { color: $token-base-text; }

	&.property,
	&.tag,
	&.constant,
	&.symbol,
	&.deleted { color: $token-property; }

	&.boolean,
	&.number { color: $token-number; }

	&.selector,
	&.attr-name,
	&.string,
	&.char,
	&.builtin,
	&.inserted { color: $token-selector; }

	&.operator,
	&.entity,
	&.url,
	&.variable { color: $token-base-text; }

	&.atrule,
	&.attr-value,
	&.function { color: $token-function; }

	&.keyword { color: $token-keyword; }

	&.regex,
	&.important { color: $token-important; }

	&.important,
	&.bold { font-weight: bold; }
	&.italic { font-style: italic; }

	&.entity { cursor: help; }
}

.language-css {
	.token {
		&.string { color: $token-base-text; }
	}
}
.style {
	.token {
		&.string { color: $token-base-text; }
	}
}

.namespace {
	opacity: .7;
}





pre {
	.line-numbers {
		position: relative;
		padding-left: 3.8em;
		counter-reset: linenumber;

		> code { position: relative; }

		.line-numbers-rows {
			position: absolute;
			top: 0;
			left: -3.8em;
			width: 3em; /* works for line-numbers below 1000 lines */
			border-right: 1px solid $palette-medium-grey;
			font-size: 100%;
			letter-spacing: -1px;
			pointer-events: none;
			user-select: none;

			> span {
				display: block;
				pointer-events: none;
				counter-increment: linenumber;

				&::before {
					display: block;
					content: counter(linenumber);
					padding-right: 0.8em;
					color: $palette-medium-grey;
					text-align: right;
				}
			}
		}
	}
}