$guide-content-width: 665px;
$header-color: $palette-light-grey;
$header-text-color: $text-primary;
$aside-width: 275px;
$color-swatch-width: auto;
$color-swatch-height: 70px;
$swatch-radius: 0;
$swatch-background: $palette-utility;
$style-guide-hero-primary: '/kb-assets/img/heroes/blurred-cityscape-02.jpg';
$style-guide-hero-secondary: '/kb-assets/img/heroes/blurred-cityscape-03.jpg';
$style-guide-hero-tertiary: '/kb-assets/img/heroes/town-skyline-night.jpg';
$style-guide-hero-quaternary: '/kb-assets/img/heroes/neighborhood-houses.jpg';
$intro-transition: all 0.9s ease-in-out;
$z-index-logo: 100;