/*==========  Typography  ==========*/
.typography {
	.example-container {

		.example {
			.light { font-weight: 300; }
			.medium { font-weight: normal; }
			.semi-bold { font-weight: 600; }
			.bold { font-weight: bold; }
		}
		.type-size {
			strong,
			code { display: block; }
			&.super-massive { @include type-setting(7); }
			&.massive { @include type-setting(6); }
			&.grand { @include type-setting(5); }
			&.huge { @include type-setting(4); }
			&.smaller { @include type-setting(-3); }
		}
	}
}