.kb-container {
	@extend %clearfix;
	max-width: inherit;
	background-color: $palette-secondary;

	video {
		position: fixed;
	    top: 50%;
	    left: 50%;
	    width: auto;
	    min-width: 100%;
	    height: auto;
	    min-height: 100%;
	    transform: translateX(-50%) translateY(-50%);
	    background: url('/kb-assets/img/video/sunset-lapse/poster.jpg') no-repeat;
	    background-size: cover;
	}
	.content-container {
		@extend %clearfix;
		background: url($style-guide-hero-primary);
		background-attachment: fixed;
		background-size: cover;
		color: lighten($text-primary, 55%);
		text-shadow: $text-shadow-quinary;
		-webkit-font-smoothing: antialiased;

		.hero {
			position: relative;
			width: 710px;
			height: auto;
			margin: 5000px gutter(7) 160px auto;
			transition: $intro-transition;
			background-color: rgba(0, 0, 0, 0.8);
			opacity: 0;
			backdrop-filter: blur(10px);

			> section	{
				padding: $padding-default;
				margin-bottom: $margin-default * 2;
			}
		}
		@supports (backdrop-filter: blur(10px)) {
			.hero {
				background-color: rgba(0, 0, 0, 0.6);
				backdrop-filter: blur(10px);
			}
		}
	}

	&.intro-start {

		.content-container {

			.hero {
				margin: 200px  gutter(6) 160px auto;
				transition: $intro-transition;
				opacity: 1;
			}
		}
	}
}