/*===========================================
=            Style Guide Styling            =
===========================================*/

/* General */
code,
.code,
.color input {
	@include type-setting(0);
	color: $palette-highlight;
	font-family: source-code-pro, Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-weight: 300;
}
code {
	strong {
		color: darken($palette-highlight, 15%);
	}
}
.highlight code,
.highlight .code { color: $palette-dark; }
h1 code,
h1 .code { font-size: $type-size-small; }
.content {
	width: $guide-content-width;
	float: left;
}
main { @extend %clearfix; }

/* General Template */
@include nested(12) {
	.kb-container {

		&.intro-start {
			.content-container {

				&.secondary-page {

					.hero {
						@extend %clearfix;
						width: 100%;
						margin: 0 0 0 auto;
						background-color: $header-color;
						color: $header-text-color;
						text-shadow: none;
						user-select: auto;

						> section:first-of-type { padding-top: 90px; }
						> section:last-child { margin-bottom: 0; }

						.intro-container {
							@extend %clearfix;
							@include span(6);
							float: none;
							padding: 0;
							margin-left: 45%;
						}
						.info-container {
							@extend %clearfix;
							padding: ($padding-default * 2) 0;
							background-color: $palette-light;

							.example-container {
								@include span(12 of 12);
								box-sizing: border-box;
								padding: 0;
								margin-bottom: $margin-default * 2;

								.wrapper {
									@extend %clearfix;

									code { margin-top: -5px; }
								}
								aside {
									@include span(5);
									margin-left: gutter(8);
									text-align: right;
									text-justify: inter-word;

									label {
										@include type-setting(0);
										display: block;
										margin-bottom: 0;
										color: $palette-dark-grey;
										font-weight: 600;
									}
									p { margin-bottom: 0; }
									code {
										@include type-setting(-1);
									}
								}
								.sub-section {
									@extend %clearfix;
									padding-top: $padding-default;

									.example-info {
										padding-bottom: 0;
										margin-bottom: 0;
									}
								}
								.example-info {
									@include span(5);
									float: none;
									padding: ($padding-default * 2) 0 $padding-default 45%;
									margin-bottom: $margin-default;
									border-top: 1px solid $palette-grey;
								}
								.example {
									@include span(5);
								}
								&:first-of-type {
									.example-info {
										padding-top: 0;
										border-top: 0;
									}
								}
							}
						}
					}
					/* @supports (backdrop-filter: blur(10px)) {
						.hero {
							background-color: rgba(255, 255, 255, 0.6);
							backdrop-filter: blur(10px);
						}
					} */
				}
			}
		}
	}
}

/* Old style */
@include nested(12) {
	.content-wrapper {
		@include container;
		background-color: $brand-secondary;

		aside {
			@include span(4);
			box-sizing: border-box;
			float: left;
			padding: $padding-default;

			h1,
			h2 {
				color: $palette-light;
				text-shadow: $shadow-primary;
			}

			.subtabs { margin-bottom: -$padding-default; }
		}
		.content {
			@include span(8 last);
			box-sizing: border-box;
			float: left;
			padding: $padding-default;
			background-color: $palette-light;
			box-shadow: -3px 0 3px -3px rgba(0, 0, 0, 0.5);
		}
	}
}
/* Fixes a little visual glitch with angular */
.subtabs,
.subtabs a,
.subtabs li a:hover { transition: none; }

/* Sections */
.subsection { margin-bottom: 10px; }
.block-out > a { display: block; }

/* Methods */
.methods h2 { margin-bottom: $margin-default / 3; }

/* Footer */

footer {
	@extend %clearfix;
	display: none;
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.7);
	backdrop-filter: blur(10px);
}