.animation {
	aside {
		label {
			a { cursor: pointer; }
		}
	}
	.anim-example {
		transition: max-height 1s ease-in-out;
		visibility: hidden;
		animation-duration: 1s;
		animation-delay: .05s;
		animation-fill-mode: both;

		&.active {
			transition: all 1s ease-in-out;
			visibility: visible;
		}
	}
}