header {
	position: fixed;


	.logo-container {
		@extend %clearfix;
		position: relative;
		left: -20px;
		z-index: $z-index-logo;

		.title-split,
		.title-combined {
			position: absolute;
			left: 118px;
			width: auto;
			padding: 11px 0 0 15px;
			transition: $intro-transition;
			transition-duration: 0.15s;
			color: $text-tertiary;
			line-height: 39px;
			text-align: left;
			opacity: 0;
		}
		.title-combined {
				top: -26px;
				left: 40px;
				font-size: 1.8rem;
		}
		.logo {
			&.kb-logo {
				left: 50%;
				width: 300px;
				height: 100vh;
				margin-left: -150px;
				transition: $intro-transition;
				background-position: 0 50%;
				cursor: pointer;
			}
		}
		a { transition: $intro-transition; }
	}
	nav {
		left: 1000px;
		transition: $intro-transition;
		opacity: 0;

		> ul {
			width: auto;
			margin-right: $margin-default / 2;

			li {

				&.primary-action,
				&.secondary-action,
				&.tertiary-action {
					border: 0;
					background-color: $palette-utility;

					&:hover { background: none; }

					a {
						padding: ($padding-default / 2) 0 ($padding-default / 6);
						margin-right: $margin-default;
						transition: box-shadow .2s ease-in-out;
						color: $text-tertiary;
						font-family: $font-stack-primary;
						font-size: $type-size-small;
						font-weight: 600;
						text-shadow: $text-shadow-quinary;
						text-transform: none;

						&:hover {
							transition: box-shadow .1s ease-in-out;
							color: lighten($text-tertiary, 10%);
							box-shadow: inset 0 -4px 0 $brand-primary;
						}
					}
				}
			}
		}
	}
}
.intro-start {
	header {
		.logo-container {

			.title-split {
				transition-delay: 1.6s;
				transition-duration: 1s;
				opacity: 1;
			}
			.logo {
				&.kb-logo {
					top: 0;
					left: 20px;
					width: 97px;
					height: 97px;
					margin-left: 0;
					transition: $intro-transition;
					background-position: 0;
				}
			}
		}
		nav {
			left: 0;
			padding: 0;
			transition: $intro-transition;
			opacity: 1;
		}
	}

	&.scroll-active {

		.logo-container {
			.logo {
				&.kb-logo {
					top: -20px;
					left: 0;
					width: 45px;
					height: 45px;
					transition: $intro-transition;
				}
			}
			.title-split {
				transition: opacity 0.3s ease-in-out;
				opacity: 0;
			}
			.title-combined {
				transition-delay: 1s;
				transition-duration: 0.8s;
				opacity: 1;

				br { display: none; }
			}
		}
		nav {
			background-color: $palette-dark;
			/* box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4); */
		}
		@supports (backdrop-filter: blur(10px)) {
			nav {
				background-color: rgba(0, 0, 0, 0.5);
				backdrop-filter: blur(10px);
			}
		}
	}
}