/*===========================================
=            Style Guide Styling            =
===========================================*/
/* Local Variables */
$guide-content-width: 665px;
$aside-width: 275px;
$color-swatch-width: auto;
$color-swatch-height: 180px;
$swatch-radius: 2px;
$swatch-background: #fdfdfd;

/* General */
code,
.code,
.color input {
	color: $palette-highlight;
	font-family: source-code-pro, Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-weight: 400;
}
.highlight code,
.highlight .code { color: $palette-dark; }
h1 code,
h1 .code { font-size: $type-size-small; }
.content {
	width: $guide-content-width;
	float: left;
}
main { @extend %clearfix; }

/* General Template */
@include nested(12) {
	.content-wrapper {
		@include container;
		background-color: $brand-secondary;

		aside {
			@include span(4);
			box-sizing: border-box;
			float: left;
			padding: $padding-default;

			h1,
			h2 {
				color: $palette-light;
				text-shadow: $shadow-primary;
			}

			.subtabs { margin-bottom: -$padding-default; }
		}
		.content {
			@include span(8 last);
			box-sizing: border-box;
			float: left;
			padding: $padding-default;
			background-color: $palette-light;
			box-shadow: -3px 0 3px -3px rgba(0, 0, 0, 0.5);
		}
	}
}
/* Fixes a little visual glitch with angular */
.subtabs,
.subtabs a,
.subtabs li a:hover { transition: none; }

/* Sections */
.subsection { margin-bottom: 10px; }
.block-out > a { display: block; }

/* Methods */
.methods h2 { margin-bottom: $margin-default / 3; }

/* Color Swatches */
.palette {
	@extend %clearfix;
	margin-bottom: $margin-default * 3;
}
.color {
	width: $color-swatch-width;
	float: left;
	padding: $padding-default;
	margin-right: $margin-default * 2;
	margin-bottom: $margin-default * 2;
	border-top-left-radius: $swatch-radius;
	border-top-right-radius: $swatch-radius;
	background-color: $swatch-background;
	text-align: center;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

	& p { margin-bottom: 0; }
	& p:last-of-type { margin-bottom: 0; }
	& strong { @extend .code; }
	& input {
		width: 180px;
		padding: 0;
		border: 0;
		outline: none;
		background-color: $swatch-background;
		font-size: $type-size-medium;
		text-align: center;
	}
}
.color-swatch {
	height: $color-swatch-height;
	margin: (-$margin-default ) (-$margin-default ) ($margin-default );
	border-top-left-radius: $swatch-radius;
	border-top-right-radius: $swatch-radius;

	&.brand-primary { background-color: $brand-primary; }
	&.brand-secondary { background-color: $brand-secondary; }
	&.brand-tertiary { background-color: $brand-tertiary; }
	&.brand-quaternary { background-color: $brand-quaternary; }

	&.palette-white-grey { background-color: $palette-white-grey; }
	&.palette-light-grey { background-color: $palette-light-grey; }
	&.palette-grey { background-color: $palette-grey; }
	&.palette-medium-grey { background-color: $palette-medium-grey; }
	&.palette-dark-grey { background-color: $palette-dark-grey; }

	&.palette-primary { background-color: $palette-primary; }
	&.palette-secondary { background-color: $palette-secondary; }
	&.palette-tertiary { background-color: $palette-tertiary; }
	&.palette-quaternary { background-color: $palette-quaternary; }
	&.palette-quinary { background-color: $palette-quinary; }
	&.palette-senary { background-color: $palette-senary; }
	&.palette-warning { background-color: $palette-warning; }
	&.palette-highlight { background-color: $palette-highlight; }

	&.palette-positive { background-color: $palette-positive; }
	&.palette-negative { background-color: $palette-negative; }
	&.palette-neutral { background-color: $palette-neutral; }

	&.palette-utility { background-color: $palette-utility; }
	&.palette-light { background-color: $palette-light; }
	&.palette-dark { background-color: $palette-dark; }
	&.palette-light,
	&.palette-utility { border: 1px dashed $palette-grey; }
}
.color-swatch:last-child { margin-right: 0; }

/*==========  Typography  ==========*/
.typography {
	label {
		display: block;
		color: $palette-grey;
		font-size: $type-size-small;
	}
	.exampleContainer { margin-bottom: $margin-default * 2; }
}

/*==========  Icons  ==========*/
.content.icons {
	@extend %clearfix;
}
.the-icons {
	width: 300px;
	float: left;
	margin-right: $margin-default * 2;
	margin-bottom: $margin-default / 2;

	&:nth-child(2n) { margin-right: 0; }
}
.the-icons span { margin-right: 10px; }
.the-icons span:last-child { color: $palette-grey; }
.demo-icon {
	display: inline-block;
    width: 20px;
	margin-right: $margin-default / 2;
	text-align: center;
	vertical-align: middle;
  }

/*==========  Messaging  ==========*/
.tooltips {
	@extend %clearfix;

	.container {
		width: 100px;
		float: left;
	}
}

/*==========  Code Guidelines  ==========*/
.primary-section,
.secondary-section { margin-bottom: $margin-default * 2; }
.primary-section em {
	color: $palette-primary;
	font-style: normal;
	font-weight: bold;
}

/*-----  End of Style Guide Styling  ------*/
