/*==========  Icons  ==========*/
.kb-container {
	.icons {
		.example-container {
			.example {
				width: span(6 of 12) !important;

				.the-icons {
					width: 300px;
					float: left;
					margin-right: $margin-default * 2;
					margin-bottom: $margin-default / 2;

					&:nth-child(2n) { margin-right: 0; }

					span {
						margin-right: 10px;

						&:last-child { color: $palette-grey; }
					}
					.demo-icon {
						display: inline-block;
					    width: 20px;
						margin-right: $margin-default / 2;
						text-align: center;
						vertical-align: middle;
					}
				}
			}
		}
	}
}
