/* Color Swatches */
.palette {
	@extend %clearfix;
	margin-bottom: $margin-default * 3;
}
aside {
	code { display: block; }
}
color-data:last-of-type {
	.color { margin-bottom: 0; }
}
.color {
	width: $color-swatch-width;
	float: left;
	margin-bottom: $margin-default * 2;
	background-color: $swatch-background;
	text-align: center;

	& p { margin-bottom: 0; }
	& p:last-of-type { margin-bottom: 0; }
	& strong { @extend .code; }
}
.color-swatch {
	height: $color-swatch-height;
	margin: 0;
	border-radius: $swatch-radius;

	&.brand-primary { background-color: $brand-primary; }
	&.brand-secondary { background-color: $brand-secondary; }
	&.brand-tertiary { background-color: $brand-tertiary; }
	&.brand-quaternary { background-color: $brand-quaternary; }

	&.palette-white-grey { background-color: $palette-white-grey; }
	&.palette-light-grey { background-color: $palette-light-grey; }
	&.palette-grey { background-color: $palette-grey; }
	&.palette-medium-grey { background-color: $palette-medium-grey; }
	&.palette-dark-grey { background-color: $palette-dark-grey; }

	&.palette-primary { background-color: $palette-primary; }
	&.palette-secondary { background-color: $palette-secondary; }
	&.palette-tertiary { background-color: $palette-tertiary; }
	&.palette-quaternary { background-color: $palette-quaternary; }
	&.palette-quinary { background-color: $palette-quinary; }
	&.palette-senary { background-color: $palette-senary; }
	&.palette-septenary { background-color: $palette-septenary; }

	&.palette-warning { background-color: $palette-warning; }
	&.palette-highlight { background-color: $palette-highlight; }

	&.palette-positive { background-color: $palette-positive; }
	&.palette-negative { background-color: $palette-negative; }
	&.palette-neutral { background-color: $palette-neutral; }

	&.palette-utility { background-color: $palette-utility; }
	&.palette-light { background-color: $palette-light; }
	&.palette-dark { background-color: $palette-dark; }
	&.palette-light,
	&.palette-utility { border: 1px dashed $palette-grey; }
}
.color-swatch:last-child { margin-right: 0; }