/* Styles Pages with a Hero Image */
.hero {
		position: relative;
		height: $hero-height-fixed;
		background: $palette-light no-repeat;
		background-size: cover;
	    cursor: default;
	    user-select: none;

		> h1 {
			position: absolute;
			bottom: 10%;
			padding: 10px 25px;
			margin: 0;
			background-color: $brand-primary;
			color: $palette-dark;
			font-weight: bold;
		}
		&.view-sized {
			height: $hero-height-relative;
			min-height: $hero-height-min;
			max-height: $map-height-max;
		}
		.kb-map {
			height: $map-height;
			min-height: $map-height-min;
			max-height: $map-height-max;
		}
	}
main {
	@extend %clearfix;
	@include container;

	&.standard {
		display: flex;

		> aside,
		.content {
			@extend %clearfix;
			box-sizing: border-box;
			padding: $padding-default * 1.5;
		}
		> aside {
			@include span(5 of 12 last);
			z-index: $zindex-sidebar;
			background-color: $brand-secondary;
			color: $palette-dark-grey;
			box-shadow: inset -3px 0 3px -3px rgba(0, 0, 0, .5);
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;

			h1,
			h2 {
				color: $palette-light;
				text-shadow: $text-shadow-primary;
			}
		}
		.content {
			@include span(full inside no-gutters);
		}
	}
}

@media #{$media-tiny} {
	main {

		&.standard {

			display: block;

			aside,
			.content {
				width: 100%;
				float: none;
			}
		}
	}
}