.kb-container {
	position: relative;
	min-width: 725px;
	max-width: 1200px;
	margin: 0 auto;
	background-color: $background-content;
}
.content-wrapper {
	@include container;

	&.standard {
		@include span(8 of 12 last);

		> aside {
			width: 100%;
			float: none;
			margin-top: 54px;
			background-color: $brand-primary;

			h1 {
				color: $palette-dark-grey;
				text-shadow: none;
			}
			.subtabs {
				margin-left: -$padding-default;

				li {
					&:first-child {
						a { padding-left: $padding-default; }
					}
				}
			}
		}
		.content {
			width: 100%;
			float: none;
			box-shadow: none;
		}

		&::before {
			position: fixed;
			top: 0;
			left: 0;
			z-index: $zindex-standard;
			content: '';
			width: 100%;
			height: 100%;
			background: $background-primary no-repeat 0 0;
			background-size: cover;
		}
	}
}

@media #{$media-tiny} {
	.kb-container {
		min-width: inherit;
		max-width: none;
	}
}