/* Local Variables */
$color-2-drk: #7b9d99;

.noUi-target,
.noUi-target * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-touch-action: none;
    -ms-user-select: none;
    -moz-user-select: none;
    box-sizing: border-box;
}
.noUi-target {
    position: relative;
    direction: ltr;
}
.noUi-base {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}
.noUi-origin {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
}
.noUi-handle {
    position: relative;
    z-index: 1;
    background: $palette-light;
    border: 1px solid #D9D9D9;
    border-radius: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB;
}
.noUi-stacking .noUi-handle {
    z-index: 10;
}
.noUi-state-tap .noUi-origin { transition: left 0.3s, top .3s; }
.noUi-state-drag * {
    cursor: inherit!important;
    cursor: -webkit-grabbing !important;
}
.noUi-base { transform: translate3d(0, 0, 0); }
.noUi-horizontal { height: 15px; }
.noUi-horizontal .noUi-handle {
    width: 14px;
    height: 23px;
    left: -7px;
    top: -5px;
    background: #fff;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(237, 237, 237, 1) 100%);
    border: 1px solid #bbb;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}
.noUi-vertical { width: 18px; }
.noUi-vertical .noUi-handle {
    width: 28px;
    height: 34px;
    left: -6px;
    top: -17px;
}
.noUi-background {
    background: #FAFAFA;
    box-shadow: inset 0 1px 1px #f0f0f0;
}
.noUi-connect {
    background: $color-2-drk;
    background: linear-gradient(to bottom, $color-2-drk 0%, #5c7a75 100%);
    transition: background 450ms;
}
.noUi-origin { border-radius: 0; }
.noUi-target {
    border-radius: 0;
    border: 1px solid #D3D3D3;
    box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
}
.noUi-target.noUi-connect { box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45), 0 3px 6px -5px #BBB; }
.noUi-dragable {
    cursor: ew-resize;
    cursor: -webkit-grab;
}
.noUi-vertical .noUi-dragable { cursor: n-resize; }
.noUi-active { box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB; }
[disabled].noUi-connect,
[disabled] .noUi-connect { background: #B8B8B8; }
[disabled].noUi-origin,
[disabled] .noUi-handle { cursor: not-allowed; }
.noUi-pips,
.noUi-pips * { box-sizing: border-box; }
.noUi-pips {
    position: absolute;
    font: 400 12px Arial;
    color: #999;
}
.noUi-value {
    width: 40px;
    position: absolute;
    text-align: center;
}
.noUi-value-sub {
    color: #ccc;
    font-size: 10px;
}
.noUi-marker {
    position: absolute;
    background: #CCC;
}
.noUi-marker-sub,
.noUi-marker-large { background: #AAA; }
.noUi-pips-horizontal {
    padding: 10px 0;
    height: 50px;
    top: 100%;
    left: 0;
    width: 100%;
}
.noUi-value-horizontal {
    margin-left: -20px;
    padding-top: 20px;
}
.noUi-value-horizontal.noUi-value-sub { padding-top: 15px; }
.noUi-marker-horizontal.noUi-marker {
    margin-left: -1px;
    width: 2px;
    height: 5px;
}
.noUi-marker-horizontal.noUi-marker-sub { height: 10px; }
.noUi-marker-horizontal.noUi-marker-large { height: 15px; }
.noUi-pips-vertical {
    padding: 0 10px;
    height: 100%;
    top: 0;
    left: 100%;
}
.noUi-value-vertical {
    width: 15px;
    margin-left: 20px;
    margin-top: -5px;
}
.noUi-marker-vertical.noUi-marker {
    width: 5px;
    height: 2px;
    margin-top: -1px;
}
.noUi-marker-vertical.noUi-marker-sub { width: 10px; }
.noUi-marker-vertical.noUi-marker-large { width: 15px; }