/*
 * This file is a collection of "Basic" animations which one might
 * consider relatively "common". Many of these will likely be converted
 * into mixins, so use lightly until then.
 */

/* Animation */
@keyframes ani-fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.ani-fade-in { animation-name: ani-fade-in; }

@keyframes ani-drop {
	from { transform: translate(0, -40px); }
	to { transform: translate(0, 0); }
}
.ani-drop { animation-name: ani-drop; }