/* Element scales in and bounces into place on its z-axis. */

@keyframes ani-bounce-in-z {
  from,
    20%,
    40%,
    60%,
    80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    transform: scale3d(.3, .3, .3);
    opacity: 0;
  }

  60% { transform: scale3d(1.1, 1.1, 1.1); }

  100% { transform: scale3d(.9, .9, .9); }

  to {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
.ani-bounce-in-z { animation-name: ani-bounce-in-z; }