/*
 * Road Runner Animations mimic the visuals of "The Roadrunner" from the cartoons
 * and his famous swooping in and stopping (or swooping out). The entry animation
 * skews the element and flies it in. It morphs to it's original shape and bounces once.
 * To prevent visual glitches, the animation fades in from 0 opacity about halfway through.
 * The exit animation does the same but in reverse, and exits out to the right.
 * These animations were generated with the Bounce.js tool online. The links to
 * each animation are in the comments below. Any tweaking or modification to these
 * should be utilizing their corresponding URLs as a starting point.
 */

/* Generated with Bounce.js. Edit at http://goo.gl/7OdlWP
 * Note, the animation below was heavily edited by hand. Bounce.js will not recreate
 * this animation exactly, even with the URL above. The additional -webkit animation
 * transforms need to be removed and the opacity needs to be applied manually.
 */

@keyframes ani-roadrunner-enter {
	0% 	   {
		transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -500, 0, 0, 1);
		opacity: 0;
	}
	1.78%  {
		transform: matrix3d(1, 0, 0, 0, 0.621, 1, 0, 0, 0, 0, 1, 0, -282.728, 0, 0, 1);
		opacity: .0178;
	}
	3.56%  {
		transform: matrix3d(1, 0, 0, 0, 0.829, 1, 0, 0, 0, 0, 1, 0, -149.309, 0, 0, 1);
		opacity: .0356;
	}
	5.34%  {
		transform: matrix3d(1, 0, 0, 0, 0.695, 1, 0, 0, 0, 0, 1, 0, -72.484, 0, 0, 1);
		opacity: .0934;
	}
	7.06%  {
		transform: matrix3d(1, 0, 0, 0, 0.477, 1, 0, 0, 0, 0, 1, 0, -31.997, 0, 0, 1);
		opacity: .1;
	}
	7.12%  {
		transform: matrix3d(1, 0, 0, 0, 0.47, 1, 0, 0, 0, 0, 1, 0, -31.079, 0, 0, 1);
		opacity: .3;
	}
	10.51% {
		transform: matrix3d(1, 0, 0, 0, 0.146, 1, 0, 0, 0, 0, 1, 0, -1.766, 0, 0, 1);
		opacity: .4;
	}
	10.68% {
		transform: matrix3d(1, 0, 0, 0, 0.135, 1, 0, 0, 0, 0, 1, 0, -1.214, 0, 0, 1);
		opacity: .6;
	}
	14.01% {
		transform: matrix3d(1, 0, 0, 0, -0.003, 1, 0, 0, 0, 0, 1, 0, 2.88, 0, 0, 1);
		opacity: .8;
	}
	14.24% {
		transform: matrix3d(1, 0, 0, 0, -0.007, 1, 0, 0, 0, 0, 1, 0, 2.886, 0, 0, 1);
		opacity: .85;
	}
	17.46% {
		transform: matrix3d(1, 0, 0, 0, -0.033, 1, 0, 0, 0, 0, 1, 0, 1.99, 0, 0, 1);
		opacity: .9;
	}
	31.36% {
		transform: matrix3d(1, 0, 0, 0, 0.002, 1, 0, 0, 0, 0, 1, 0, 0.01, 0, 0, 1);
		opacity: .94;
	}
	36.48% {
		transform: matrix3d(1, 0, 0, 0, 0.001, 1, 0, 0, 0, 0, 1, 0, -0.003, 0, 0, 1);
		opacity: .98;
	}
	44.34% {
		transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1);
		opacity: 1;
	}
	44.44% {
		transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1);
		opacity: 1;
	}
	45.27% {
		transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -7.992, 0, 1);
		opacity: 1;
	}
	46.45% {
		transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.001, -15.312, 0, 1);
		opacity: 1;
	}
	48.45% {
		transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.001, -19.275, 0, 1);
		opacity: 1;
	}
	50.95% {
		transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -15.606, 0, 1);
		opacity: 1;
	}
	53.4%  {
		transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -9.111, 0, 1);
		opacity: 1;
	}
	55.56% {
		transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -4.058, 0, 1);
		opacity: 1;
	}
	55.9%  {
		transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -3.395, 0, 1);
		opacity: 1;
	}
	58.35% {
		transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.013, 0, 1);
		opacity: 1;
	}
	62.35% {
		transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1.622, 0, 1);
		opacity: 1;
	}
	72.25% {
		transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.002, 0, 1);
		opacity: 1;
	}
	76.25% {
		transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.137, 0, 1);
		opacity: 1;
	}
	86.15% {
		transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		opacity: 1;
	}
	90.16% {
		transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.011, 0, 1);
		opacity: 1;
	}
	100%   {
		transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		opacity: 1;
	}
}

.ani-roadrunner-enter { animation-name: ani-roadrunner-enter; }