@keyframes ani-swing-in {
  0% {
    transform: perspective(800px) rotateX(-90deg);
    transform-origin: 50% 0%;
    opacity: 0;
  }

  50% {
    transform: perspective(800px) rotateX(15deg);
    transform-origin: 50% 0%;
    opacity: 1;
  }

  100% {
    transform: perspective(800px) rotateX(0deg);
    transform-origin: 50% 0%;
    opacity: 1;
  }
}
.ani-swing-in { animation-name: ani-swing-in; }