@keyframes ani-vanish-out {
  0% {
    transform: scale(1, 1);
    transform-origin: 50% 50%;
    opacity: 1;
    -webkit-filter: blur(0);
  }

  100% {
    transform: scale(2, 2);
    transform-origin: 50% 50%;
    opacity: 0;
    -webkit-filter: blur(20px);
  }
}
.ani-vanish-out { animation-name: ani-vanish-out; }