/// Runs a color through various checks to ensure the text foreground is legible on the background color of the gradient.
/// Also checks for a "highlight" class which provides an inverted version of the same container color.
/// @example .foo { @include container-color($palette-primary); }
/// @arg {string} $color - Color value to define the border (or background if highlight is used).
@mixin container-color($color) {
	$highlight-border: darken($color, 10%);
	$lightness-tolerance: 57;

	border-color: $color;
	background-color: $palette-light;

	@if (lightness($color) > 30 ) {
		color: $text-primary;
	}
	@else {
		color: $palette-light;
	}

	&.highlight {
		border-color: $highlight-border;
		background-color: $color;
		@if (lightness($color) > $lightness-tolerance ) {
			color: $text-primary;
		}
		@else {
			color: $palette-light;
			-webkit-font-smoothing: antialiased;
		}

		& .title {
			border-bottom-color: lighten($highlight-border, 5%);
		}
	}
}