.button {
	display: inline-block;
	position: relative;
	transition: all .15s ease-in-out;
	border: 1px solid transparent;
	border-radius: $border-radius;
	outline: none;
  	color: $palette-light;
  	font-family: $font-stack-primary;
  	font-size: $type-size-medium;
  	font-weight: normal;
  	line-height: 1; /* this value is unitless by design.  See http://meyerweb.com/eric/thoughts/2006/02/08/unitless-line-heights/ for more info */
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	vertical-align: middle;
	user-select: none;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;

	&.disabled,
	&[disabled],
	&[disabled='disabled'],
	fieldset[disabled] & {
		cursor: not-allowed;
		opacity: 0.5;
		pointer-events: none;
	}

	/* size */
	&.extra-large {
		@include type-size($type-size-large);
		padding: 14px 45px;
	}
	&.large { padding: 12px 15px; }
	&.medium {
		@include type-size($type-size-medium);
		padding: 6px 12px;
	}
	&.small {
		@include type-size($type-size-small);
		padding: 5px 11px;
	}
	&.tiny {
		@include type-size($type-size-smaller);
		padding: 3px 4px;
	}
	&.micro {
		@include type-size($type-size-smallest);
		padding: 2px 3px;
		text-transform: uppercase;
	}

	/* color */
	&.primary { @include button-color($brand-primary); }
	&.secondary { @include button-color($brand-secondary); }
	&.tertiary { @include button-color($brand-tertiary); }
	&.quaternary { @include button-color($brand-quaternary); }
	&.white-grey { @include button-color($palette-white-grey); }
	&.dark-grey { @include button-color($palette-dark-grey); }

	/* gradient */
	&.primary-gradient { @include button-gradient($brand-primary, saturate((darken($brand-primary, 10%)), 5%)); }
	&.secondary-gradient { @include button-gradient($brand-secondary, saturate((darken($brand-secondary, 10%)), 5%)); }
	&.tertiary-gradient { @include button-gradient($brand-tertiary, saturate((darken($brand-tertiary, 10%)), 5%)); }
	&.quaternary-gradient { @include button-gradient($brand-quaternary, saturate((darken($brand-quaternary, 10%)), 5%)); }
	&.white-grey-gradient { @include button-gradient($palette-white-grey, saturate((darken($palette-white-grey, 10%)), 5%)); }
	&.dark-grey-gradient { @include button-gradient($palette-dark-grey, saturate((darken($palette-dark-grey, 10%)), 5%)); }

	/* Miscellaneous */
	&.facebook-gradient { @include button-gradient(#627eb2, saturate((darken(#627eb2, 10%)), 5%)); }
	&.facebook { @include button-color(#627eb2); }

	/* color any icons the color of the text */
	&.primary::before { @include icon-color($brand-primary); }
	&.secondary::before { @include icon-color($brand-secondary); }
	&.tertiary::before { @include icon-color($brand-tertiary); }
	&.quaternary::before { @include icon-color($brand-quaternary); }

	/* behavior */
	&.fluid { display: block; }
}

/* Close Button */
.button-close {
	position: absolute;
	top: 10px;
	right: 10px;
	text-decoration: none;

	&:hover { text-decoration: none; }
}
.button-close::after {
	content: '\d7';
	transition: all .15s ease-in-out;
	color: darken($palette-medium-grey, 10%);
	font-size: 2.2rem;
	line-height: 1rem;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.button-close:hover::after { color: darken($palette-medium-grey, 30%); }
.button-close:active::after { color: lighten($palette-medium-grey, 10%); }