$height-expanded: 500px;

.accordion {

	> li {
		@extend %clearfix;

		&.active {
			> a:first-of-type {
				color: $brand-primary;

				&::before {
					transform: rotate(90deg);
					transition: all 0.3s ease-in-out;
				}
			}
		}

		> a {
			display: block;
			position: relative;
			padding: (($padding-default / 2) + 1) ($padding-default - 5);
			background-color: $palette-dark-grey;
			color: $palette-light;
			font-size: $type-size-large - .12;
			box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.15) inset, 0 -1px 0 0 rgba(0, 0, 0, .25) inset;

			&.half-tab {
				display: inline-block;
				box-sizing: border-box;
				width: 50%;
				float: left;

				&:first-child { background-color: $palette-quinary; }
				&:last-of-type { background-color: $palette-senary; }
			}

			&::before {
				position: absolute;
				right: 20px;
				transition: all 0.3s ease-in-out;
			}
		}

		.content {
			box-sizing: border-box;
			overflow: hidden;
			max-height: 0;
			padding: 0;
			transform: perspective(180px)
			           translate3d(0, 0, 0)
			           scale3d(1, 1, 1)
			           rotate3d(24, 0, 0, -90deg);
			transform-origin: 50% 50% 50%;
			transform-style: preserve-3d;
			transition: all 0.3s ease-in-out 0.15s;
			opacity: 0;

			&.active {
				max-height: $height-expanded;
				padding: $padding-default;
				transform: none;
				transform-origin: 50% 50% 50%;
				transform-style: preserve-3d;
				transition: all 0.3s ease-in-out 0.1s;
				box-shadow: inset 0 3px 1px rgba(0, 0, 0, 0.25);
				opacity: 1;
			}
		}
	}
}