/*===============================
=            Carets (Arrows)    =
===============================*/

/// - Carets are arrow elements used in a variety of UI situations.
/// - All carets inherit from the %caret placeholder.
/// - All carets are modified with a directional indicator (up, down, left.
///   or right). Additionally sizes may be applied as well.
/// - They are placed before or after an element depending on the type
///   used. (typically all are placed after except for caret-left, which
///   is applied before).
/// - Typically a caret should be invoked on the element you want them to
///   represent.
/// - The size modifier is optional.  If no size is specified, the default
///   caret size will be used.
/// - Often times you'll want a caret to be spaced a little next to a
///   string of text. In order to support buttons that have no text and
///   merely a caret, as well as other miscellaneous setups, the carets do
///   not automatically insert a space next to them.  As a result, any
///   instances where a space is required, should either be applied in the
///   text itself or by a style such as a left or right margin to space the
///   caret out (applied in the page stylesheet). The default value for a
///   space next to an element is one non-breaking space (&nbsp;) so
///   typically this is the preferred method of inserting any space before
///   or after a caret.
///
/// @example
/// /* A simple caret */
/// <div class="caret-left"></div>
///
/// /* A caret applied to a button to be used on its own */
/// <button class="button large primary caret-left"></button>
///
/// /* Caret next to text with a space added via html */
/// <div class="caret-left">&nbsp;return</div>
/// <div class="caret-right">next&nbsp;</div>
///
/// /* Carets may have sizes applied as well and mixed and matched as desired /*
/// <div class="caret-left-large"></div>
/// <div class="caret-down-small"></div>
%caret {
    display: inline-block;
    position: relative;
    top: -1px;
    content: '';
    width: 7px;
    height: 7px;
    border-top: 1px solid;
    border-right: 1px solid;
}

/* standard size */
.caret-right::after {
    @extend %caret;
    right: 2px;
    transform: rotate(45deg);
}

.caret-left::before {
    @extend %caret;
    left: 2px;
    transform: rotate(225deg);
}

.caret-down::after {
    @extend %caret;
    top: -2px;
    margin-left: 5px;
    transform: rotate(135deg);
}

.caret-up::after {
    @extend %caret;
    top: 2px;
    margin-left: 5px;
    transform: rotate(315deg);
}

/* large size */
%caret-large {
    width: 12px;
    height: 12px;
    border-top: 1px solid;
    border-right: 1px solid;
}

.caret-right-large::after {
    @extend .caret-right;
    @extend %caret-large;
}

.caret-left-large::before {
    @extend .caret-left;
    @extend %caret-large;
}

.caret-down-large::after {
    @extend .caret-down;
    @extend %caret-large;
    top: -4px;
}

.caret-up-large::after {
    @extend .caret-up;
    @extend %caret-large;
    top: 4px;
}

/* small size */
%caret-small {
    width: 6px;
    height: 6px;
    border-top: 1px solid;
    border-right: 1px solid;
}

.caret-right-small::after {
    @extend .caret-right;
    @extend %caret-small;
}

.caret-left-small::before {
    @extend .caret-left;
    @extend %caret-small;
}

.caret-down-small::after {
    @extend .caret-down;
    @extend %caret-small;
}

.caret-up-small::after {
    @extend .caret-up;
    @extend %caret-small;
}

/* Add some space after carets on "Back to" links */
.return-link::before { margin-right: 5px; }