/*==================================
=            Containers            =
==================================*/
$container-radius:	$border-radius;

.container {
	position: relative;
	padding: $container-padding;
	margin-bottom: $container-margin;
	border: 1px solid $palette-utility;
	border-radius: $container-radius;

	& .title {
		padding: $container-padding;
		margin: (-$container-padding) (-$container-padding) ($container-padding);
		border-bottom: 1px solid;
		border-top-left-radius: $container-radius;
		border-top-right-radius: $container-radius;
	}

	/*==========  Container Padding  ==========*/
	&.padding-vertical { padding: $container-padding 0; }
	&.padding-horizontal { padding: 0 $container-padding; }
	&.padding-half { padding: $padding-half; }
	&.padding-quarter { padding: $padding-quarter; }
	&.padding-vertical-half { padding: $padding-half 0; }
	&.padding-horizontal-half { padding: 0 $padding-half; }
	&.padding-vertical-quarter { padding: $padding-quarter 0; }
	&.padding-horizontal-quarter { padding: 0 $padding-quarter; }
	&.bottom-rule {
		padding: 0 0 $container-padding;
		border: 0;
		border-bottom: 1px solid;
		border-radius: 0;
	}

	/*==========  Container Colors  ==========*/
	/* Brand Colors */
	&.primary { @include container-color($brand-primary); }
	&.secondary { @include container-color($brand-secondary); }
	&.tertiary { @include container-color($brand-tertiary); }
	&.quaternary { @include container-color($brand-quaternary); }

	/* Other Colors */
	&.ternary { @include container-color($palette-light-grey); }

	/*==========  Container Content Handling  ==========*/
	& > p:last-child { margin-bottom: 0; }
}