/*=================================
=            Dropdowns            =
=================================*/

.drop-down {
	display: none;
	position: absolute;
	z-index: $zindex-drop-down;
	padding: $dropdown-padding;
	margin: 0;
	border: 1px solid lighten($palette-medium-grey, 10%);
	background-color: $palette-light;
	box-shadow: $shadow-primary;

	li {
		&:first-child { margin-top: (-$dropdown-margin); }
		&:last-child { margin-bottom: (-$dropdown-margin); }
		a {
			display: block;
			padding: $dropdown-padding - 5;
			margin: 0 (-$dropdown-margin);

			&:hover {
				background-color: $menu-hover-background;
				color: $menu-hover-text;
			}
		}
	}
}

/*-----  End of Dropdowns  ------*/

