﻿ul {

    &.bulleted {
        li {
            position: relative;
            box-sizing: border-box;
            padding: 0 0 0 0.8rem;
            margin: 0 0 7px;
            list-style: none;

            &::before {
                display: inline-block;
                position: absolute;
                left: 0;
                content: '\25A0';
                margin-top: 2px;
                color: $palette-dark;
                font-size: 9px;
            }
        }
    }

    &.basic {
        li {
            padding: 0;
            &::before  {
                display: none;
                content: '';
            }
        }
    }
}
