/*=====================================
=        KB Alerts & Messaging        =
=====================================*/

/*  - Messaging is defined at its most basic with a container class
// 	  and a kb-alert class applied. Additional classes may be used
//    to further modify the messaging for various scenarios.
//
//  @example
//  /* A simple message */
//  <div class="container kb-alert"></div>
//
//  /* An error message */
//  <div class="container kb-alert error"></div>
//
//  /* A warning message */
//  <div class="container kb-alert warning"></div>
//
//  /* A success message */
//  <div class="container kb-alert success"></div>
//
//  /* An upsell message */
//  <div class="container kb-alert upsell"></div>
.kb-alert {
	border: 1px solid darken($palette-neutral, 10%);
	background-color: $palette-neutral;

	&.error {
		border-color: $palette-negative;
		background-color: lighten($palette-negative, 50%);
		color: $palette-negative;
	}
	&.warning {
		border-color: darken((desaturate($palette-warning, 40%)), 20%);
		background-color: $palette-warning;
	}
	&.success {
		border-color: $palette-positive;
		background-color: lighten($palette-positive, 40%);
		color: darken((desaturate($palette-positive, 10%)), 10%);
	}
	&.upsell {
		border-color: $palette-highlight;
		background-color: lighten($palette-highlight, 30%);
		color: darken((desaturate($palette-highlight, 15%)), 20%);
	}
}