/* Base Modal Styling */
/*	ONLY global Modal Styling that applies to ALL modals should be placed here.
	Any Styling unique to one or a small subset of modals should reside in their own stylesheet */

/* The Modal */
.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: $zindex-modal;
	box-sizing: border-box;
	max-width: 700px;
	padding: 20px;
	transform: translate(-50%, -50%);
	border: 1px solid $palette-grey;
	background-color: $palette-light;
	box-shadow: $shadow-secondary;
	visibility: hidden;

	&:focus { outline: none; }

	&[aria-hidden='false'] {
		transition: transform 0.2s cubic-bezier(.78, .01, .22, .99), opacity 0.2s cubic-bezier(.78, .01, .22, .99);
		transition-delay: 0.2s;
		opacity: 1;
		visibility: visible;
		pointer-events: all;

		/* fixes a display issue when hiding */
		.button-close {
			&::after { display: block; }
		}

		select { display: block; }
	}
	&[aria-hidden='true'] {
		transform: translate(-50%, -60%);
		transition: transform 0.2s cubic-bezier(.78, .01, .22, .99), opacity 0.2s cubic-bezier(.78, .01, .22, .99);
		opacity: 0;
		visibility: visible;
		pointer-events: none;

		select { display: none; }
	}
}
.screen {
	position: fixed;
	top: 0;
	left: 0;
	z-index: $zindex-modal-screen;
	width: 100%;
	height: 100%;
	background-color: rgba($palette-dark, $opacity-modal-screen);
	visibility: hidden;

	&[aria-hidden='false'] {
		transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
		opacity: 1;
		visibility: visible;
		pointer-events: all;
	}
	&[aria-hidden='true'] {
  		transform: translateY(-50%);
		transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
		opacity: 0;
		visibility: visible;
		pointer-events: none;
	}
}

@media #{$media-tiny} {
	.modal {
		width: 100%;
		max-width: 100%;
		height: 100%;
	}
}