.paging {
	@extend %clearfix;
	padding-bottom: $padding-default;
	margin-bottom: $margin-default;
	border-bottom: 1px solid $palette-grey;

	.pagination {
		@extend %clearfix;

		&.right { float: right; }

		li {
			float: left;

			a {
				display: block;
				box-sizing: border-box;
				padding: ($padding-default * 0.25) ($padding-default * 0.65);
				margin-left: $margin-default;
				border: 0;
				border-radius: $border-radius;
				color: $text-primary;
				font-family: $font-stack-tertiary;
				box-shadow: inset 0 0 0 2px $palette-light-grey;

				&.arrow-prev,
				&.arrow-next { color: lighten($text-primary, 20%); }

				&:hover { box-shadow: inset 0 0 0 2px $palette-grey; }
			}

			&.current {

				a {
					@include linear-gradient($palette-light-grey, $palette-grey);
					box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
					cursor: default;
				}
			}

		}
	}
}
