.status-tag {
	display: inline;
	padding: 0 6px 2px;
	margin: 0 3px 0 0;
	border-radius: $border-radius;
	background-color: $status-tag-default;
	color: $palette-light;
	font-size: $type-size-smallest;
	font-weight: bold;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;

	.alert { background-color: $status-tag-alert; }
	.positive { background-color: $status-tag-positive; }
}