/* ********************************************************************************
		Tabs
******************************************************************************** */
/* Declare local variables */
$tab-right-padding: 0;
$tab-fill: $brand-primary;

/* Sub tabs */
.subtabs {
	position: relative;
	padding: 0;
	margin: 18px 0 0;
	background-color: $brand-primary;
	list-style: none outside none;

	a {
		border-bottom: 0;
		color: $palette-dark-grey;
		font-family: $font-stack-secondary;
		font-size: $type-size-medium;
		text-transform: uppercase;
	}
	ul {
		padding: 0;
		margin: 0;

		li {
			display: inline-block;
			position: relative;
			padding: 0;
			margin: 0;
			zoom: 1;

			a:hover {
				transition: all .15s ease-in-out;
				background-color: lighten($tab-fill, 10%);
				color: $palette-dark;
				text-decoration: none !important;
			}
			a,
			strong {
				display: block;
				padding: 9px 8px 8px;
				border: 1px solid $tab-fill;
			    border-bottom: 0;
				outline: none;
				background-color: $tab-fill;
				text-decoration: none;
			}

			&.active {
				bottom: -1px;
				margin-top: -1px;

				a:hover {
					background: $palette-light;
					text-decoration: none !important;
				}

				a,
				strong {
					padding-bottom: 9px;
					border-color: $palette-light;
					background: $palette-light;
					color: $palette-dark;
					font-weight: normal;
					cursor: default;
				}
			}
		}
	}

	.center {
		margin-right: 2px;
		margin-left: 2px;
		text-align: center;
	}
}







/* Tabless */
.subtabs li.tabless { margin-right: 0; }
.subtabs li.tabless a {
	background: none;
	filter:none;
	-ms-filter:none;
	border: 1px solid $palette-light;
    border-bottom: none;
    padding: 9px 7px 8px;
}
.subtabs li.tabless.active a {
	color: #3765B7;
	cursor: pointer;
	}
.subtabs li.tabless a .arrow {
	margin-left: 4px;
	position: relative;
	top: -1px;
	}
.subtabs li.tabless .rateDropdown {
	left: 6px;
	position: absolute;
	top: 26px;
	}
.subtabs li.tabless .rateDropdown a {
	border: none;
	border-radius: 0;
	margin: 0 -9px;
	padding: 2px 9px 2px 4px;
	text-shadow: none;
	}
.subtabs li.tabless .rateDropdown a:hover {
	background-color: #3765B7;
	filter:none;
	-ms-filter:none;
	color: #fff;
	}

/* Subtabs "New" Tag – should be modified to suit new "New" tag each time in add-edit pages */
.tagContainer {
	position: absolute;
	top: -17px;
	left: 8px;
}
.tagContainer .statusTag { position: relative; }
.tagContainer .arrow.down.orange {
	position: absolute;
	top: 12px;
	left: 8px;
}

/* Sub-Tabs - Vertical Layout */
.subtabs.vertical,
.subtabs.vertical li,
.subtabs.vertical a { width: 140px; }
.subtabs.vertical li { margin-bottom: 3px; }
.subtabs.vertical {
	float: left;
	margin: -8px 0 20px;
	border-bottom: none;
	}
.subtabs.vertical a {
	position: relative;
	padding: 11px 0 10px $tab-right-padding;
	background: none;
	border: none;
	line-height: 15px;
    }
.subtabs.vertical a:hover {
	text-decoration: underline !important;
	background: none;
    }
.subtabs.vertical .active a {
	border: none;
	background-color: $palette-light-grey;
	line-height: 14px;
	margin: -1px -13px -1px 0;
	padding: 11px 0 11px $tab-right-padding;
	border-radius: 0;
	border-left: 1px solid $palette-grey;
	border-top: 1px solid $palette-grey;
	border-bottom: 1px solid $palette-grey;
    }
.subtabs.vertical .active a::after {
	display: block;
	position: absolute;
	right: -12px;
	top: 6px;
	z-index: -1;
	width: 23px;
	height: 23px;
	content: "";
	background-color: $palette-light-grey;
	border-right: 1px solid;
	border-top: 1px solid;
	-ms-transform: rotate(45deg) skew(10deg, 10deg);
    -moz-transform: rotate(45deg) skew(10deg, 10deg);
    -o-transform: rotate(45deg) skew(10deg, 10deg);
    -webkit-transform: rotate(45deg) skew(10deg, 10deg);
	transform: rotate(45deg) skew(10deg, 10deg);
	border-color: #bbb;
	border-radius: 2px;
	border-top-right-radius: 0;
}
.subtabs.vertical .active a:hover {
	text-decoration: none;
	background-color: $palette-light-grey;
}
.subtabs.vertical h1 {
	padding-bottom: 8px;
	font-weight: normal;
	font-size: 12px;
	color: #666;
	text-shadow: 0 1px 0 #fff;
    }

/* Icons */
.subtabs.vertical [class^="ln-icon-"]::before {
	position: absolute;
	top: 13px;
	left: 7px;
}

/* Modifier for containers with subtabs */
.container.withSubTabs {
	border-top: none;
	border-radius: 0 0 1px 1px;
}
.subtabs.attached { margin-bottom: 0; }

/* ********************************************************************************
		Interior Tabs
******************************************************************************** */
.subtabs.interiorTabs a {
	padding: 6px 27px;
	background: #f9f9f9;
	filter: none;
	border-color: #d9d9d9;
	transition: all .15s ease-in-out;
}
.subtabs.interiorTabs .active a { padding-bottom: 7px; }
.subtabs.interiorTabs a:hover {
	background: #f2f2f2;
	filter: none;
	transition: all .15s ease-in-out;
}
/* tabless tabs */
.interiorTabs .tabless { margin-top: 4px; }
.interiorTabs .tabless.alignRight {
	float: right;
	border-left: 1px solid #ccc;
}
.interiorTabs.subtabs li:last-child { border-left: none; }
.interiorTabs .tabless.alignRight a { padding: 0 7px; }
.subtabs.interiorTabs .tabless a:hover { background: none; }