// Tooltips based off of kazzkiq's kb-tooltip.css
// http://kazzkiq.github.io/balloon.css/

//
// Variables
// -----------------------------------------

$kb-tooltip-bg:             fade-out($palette-dark, .1);
$kb-tooltip-base-size:      10px;
$kb-tooltip-arrow-height:   6px;


//
// Mixins
// -----------------------------------------

@mixin svg-arrow ($color, $position: up) {

    $degrees: 0;
    $height:  6px;
    $width:   18px;

    @if ($position == down) {
        $degrees: 180 18 6;
    } @else if ($position == left) {
        $degrees: -90 18 18;
        $width: 6px;
        $height: 18px;
    } @else if ($position == right) {
        $degrees: 90 6 6;
        $width: 6px;
        $height: 18px;
    }

    width: $width;
    height: $height;
    background: no-repeat url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="#{$width * 2}" height="#{$height * 2}"><path fill="#{$color}" transform="rotate(#{$degrees})" d="M2.658,0.000 C-13.615,0.000 50.938,0.000 34.662,0.000 C28.662,0.000 23.035,12.002 18.660,12.002 C14.285,12.002 8.594,0.000 2.658,0.000 Z"/></svg>');
    background-size: 100% auto;
}

@mixin transition ($args...) { transition: $args; }
@mixin transform ($val) { transform: $val; }
@mixin transform-origin ($val) { transform-origin: $val; }
@mixin opacity ($trans) { opacity: $trans; }

@mixin base-effects () {
    @include opacity(0);
    @include transition(all .18s ease-out .18s);
    pointer-events: none;
}


//
// Styles
// -----------------------------------------


[data-kb-tooltip] {
    position: relative; // alt. absolute or fixed

    &::after {
        @include base-effects();

        position: absolute;
        z-index: 10;
        content: attr(data-kb-tooltip);
        padding: .5em 1em;
        border-radius: 4px;
        background: $kb-tooltip-bg;
        color: $palette-light !important;  // would like to find a better way to override this!
        font-size: $kb-tooltip-base-size + 2;
        white-space: nowrap;
        -webkit-font-smoothing: subpixel-antialiased;
    }

    &::before {
        @include svg-arrow($kb-tooltip-bg);
        @include base-effects();

        position: absolute;
        z-index: 10;
        content: '';
    }

    &:hover {
        &::before,
        &::after {
            @include opacity(1);
            pointer-events: auto;
        }
    }

    &[data-kb-tooltip-break] {
        &::after {
            white-space: normal;
        }
    }

    &[data-kb-tooltip-pos='up'] {
        &::after {
            @include transform(translate(-50%, 10px));
            @include transform-origin(top);
            bottom: 100%;
            left: 50%;
            margin-bottom: 5px + $kb-tooltip-arrow-height;
        }
        &::before {
            @include transform(translate(-50%, 10px));
            @include transform-origin(top);
            bottom: 100%;
            left: 50%;
            margin-bottom: 5px;
        }

        &:hover {
            &::after {
                @include transform(translate(-50%, 0));
            }

            &::before {
              @include transform(translate(-50%, 0));
            }
        }

    }

    &[data-kb-tooltip-pos='down'] {
        &::after {
            @include transform(translate(-50%, -10px));
            top: 100%;
            left: 50%;
            margin-top: 5px + $kb-tooltip-arrow-height;
        }

        &::before {
            @include svg-arrow($kb-tooltip-bg, 'down');
            @include transform(translate(-50%, -10px));
            top: 100%;
            left: 50%;
            margin-top: 5px;
        }

        &:hover {
            &::after { @include transform(translate(-50%, 0)); }
            &::before { @include transform(translate(-50%, 0)); }
        }
    }

    &[data-kb-tooltip-pos='left'] {
        &::after {
            @include transform(translate(10px, -50%));
            top: 50%;
            right: 100%;
            margin-right: 5px + $kb-tooltip-arrow-height;
        }

        &::before {
            @include svg-arrow($kb-tooltip-bg, 'left');
            @include transform(translate(10px, -50%));
            top: 50%;
            right: 100%;
            margin-right: 5px;
        }

        &:hover {
            &::after { @include transform(translate(0, -50%)); }
            &::before { @include transform(translate(0, -50%)); }
        }

    }

    &[data-kb-tooltip-pos='right'] {
        &::after {
            @include transform(translate(-10px, -50%));
            top: 50%;
            left: 100%;
            margin-left: 5px + $kb-tooltip-arrow-height;
        }

        &::before {
            @include svg-arrow($kb-tooltip-bg, 'right');
            @include transform(translate(-10px, -50%));
            top: 50%;
            left: 100%;
            margin-left: 5px;
        }

        &:hover {
            &::after {
                @include transform(translate(0, -50%));
            }

            &::before {
                @include transform(translate(0, -50%));
            }
        }
    }

    &[data-kb-tooltip-length='small'] {
        &::after {
            width: 80px;
            white-space: normal;
        }
    }

    &[data-kb-tooltip-length='medium'] {
        &::before {
            width: 150px;
            white-space: normal;
        }
    }

    &[data-kb-tooltip-length='large'] {
        &::after {
            width: 260px;
            white-space: normal;
        }
    }

    &[data-kb-tooltip-length='xlarge'] {
        &::after {
            width: 380px;
            white-space: normal;

            @media screen and (max-width: 768px) {
                width: 90vw;
                white-space: normal;
            }
        }
    }

    &[data-kb-tooltip-length='fit'] {
        &::after {
            width: 100%;
            white-space: normal;
        }
    }
}