@import '../../../_partials/_common.scss';

// Visual Indicators for building pages with PageBuilder

body {
	&.preview {
		.editable-area:not(.pageBuilderLayoutDesign):empty {
			padding: 10px;
			border: 2px dotted $palette-secondary;
		}
		.editable-area:not(.pageBuilderLayoutDesign):empty::after {
			content: 'Content Layout Area';
			color: $palette-secondary;
		}
		.pageBuilderLayoutDesign:hover {
			border-color: darken($palette-secondary, 25%);
		}
	}
}