footer {
	@extend %clearfix;
	box-sizing: border-box;
	padding: $padding-default / 2;
	background-color: $palette-quaternary;
	color: $palette-dark-grey;
	font-family: $font-stack-secondary;
	font-size: $type-size-smaller;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .3);
	text-transform: uppercase;

	.footer-top {
		@extend %clearfix;
		margin-bottom: $margin-default / 2;

		> ul {
			float: left;

			li {
				float: left;

				a {
					padding: 0 10px;
					border-right: 1px solid #aaa;
					color: $palette-dark-grey;
				}
				&:first-child a { padding-left: 0; }
				&:last-child a { border-right: 0; }
			}
		}

		.footer-right {
			float: right;

			strong { float: left; }
			ul {
				float: left;

				li {
					float: left;
					margin-top: -2px;
					margin-left: $margin-default / 4;

					a {
						img {
							width: 16px;
							height: 16px;
						}
					}
				}
			}
		}
	}
	.footer-bottom {
		font-size: $type-size-smallest;

		p { margin-bottom: 0; }
		p:first-child {
			float: left;

			&::before {
				margin-top: -4px;
				margin-right: $margin-default / 4;
			}
		}
		p:last-child { float: right; }
	}
}


@include media-custom(0, 865px) {
	footer {
		.footer-links {
			font-size: $type-size-smallest;
		}
		.footer-right {
			strong { display: none; }
		}
	}
}

/* Mobile Footer */
.show-for-small {
	display: none;

	.accordion {
		.content {
			.recent {
				h4 {
					padding: $padding-default 0 0;
					margin: $margin-default 0 0;
					border-top: 1px solid $palette-grey;
				}
				a {
					font-size: $type-size-base;
					font-weight: bold;
				}
			}
		}
		.design-experience {
			ul {
				margin: -($padding-default / 2) 0;

				li {
					border-bottom: 1px solid lighten($palette-grey, 5%);

					&:last-child { border-bottom: 0; }

					a {
						display: block;
						padding: (($padding-default / 2) + 3) 0;
						font-size: $type-size-base;
						font-weight: bold;
					}
				}
			}
		}
		.split-tab {
			.content {
				border-bottom: 1px solid $palette-medium-grey;

				input {
					display: inline-block;
					width: 80%;
					margin: 0;
				}
				.search {
					width: 18%;
				}
			}
		}
	}
	.footer-links1 {
		box-sizing: border-box;
		padding: (($padding-default / 2) + 4);
		border-bottom: 1px solid lighten($palette-grey, 13.5%);
		background-color: darken($palette-light-grey, 5%);
		text-align: center;

		> a {
			padding: ($padding-default / 4) ($padding-default / 2);
			border-right: 1px solid $palette-medium-grey;
			font-size: $type-size-smaller;
			font-weight: bold;

			&:last-child { border-right: 0; }
		}
	}
	.social-media {
		padding-top: $padding-default;
		margin-bottom: ($margin-default / 2);
		text-align: center;
		box-shadow: inset 0 5px 5px -5px rgba(0, 0, 0, .5);

		ul {
			li {
				display: inline-block;
				width: 25px;
				height: 25px;
				margin: 0 3px;
			}
		}
	}
	.footer-legal {
		margin-bottom: ($margin-default / 3);
		color: $palette-primary;
		font-size: $type-size-smaller;
		font-weight: bold;
		text-align: center;
	}
	.footer-links2 {
		box-sizing: border-box;
		margin-bottom: ($margin-default / 2);
		text-align: center;

		> a {
			padding: ($padding-default / 6) ($padding-default / 2);
			border-right: 1px solid $palette-medium-grey;
			font-size: $type-size-smaller;
			font-weight: bold;

			&:last-child { border-right: 0; }
		}
	}
	.eq-housing {
		margin-bottom: $margin-default;
		color: $palette-primary;
		text-align: center;
		text-transform: none;

		&::before {
			position: relative;
			top: -3px;
			margin-right: 3px;
		}
	}
}
// Prevents Google's crappy iframe from messing up the layout.
iframe[name='google_conversion_frame'] {
	height: 0 !important;
	float: left;
}

@media #{$media-tiny} {
	.show-for-small { display: block; }
	.hide-for-small { display: none; }
	footer {
		padding: 0;
	}
}