/* Header */
header {
    position: absolute;
    top: 0;
    z-index: $zindex-header;
    box-sizing: border-box;
    width: 100%;
    padding: $padding-default;
    margin-bottom: $margin-default;
    text-align: center;

    h1 {
        width: 1080px;
        padding: $padding-default 0;
        margin: 0 auto;
    }
    .logo {

        &.kb-logo {
            display: block;
            position: absolute;
            left: 20px;
            width: 97px;
            height: 97px;
            transition: width 0.3s ease-in-out;
            background: $logo-main no-repeat;
        }
    }
    a,
    a:active,
    a:focus { outline: none; }
}

@media #{$media-small} {
    header {
        .logo {
            &.kb-logo {
                width: 75px;
                transition: width 0.3s ease-in-out;
            }
        }
    }
}
@media #{$media-tiny} {
    header {
        .logo {
            &.kb-logo {
                width: 55px;
                transition: width 0.3s ease-in-out;
            }
        }
    }
}