/* Navigation */
/* Local Variables */
/// This is a local variable used only in the Nav.
/// The Primary Action in the nav is defined as the far left option(s).
/// This color is typically darker than the other nav options so as to call out its importance.
/// @example
///		@include button-color($palette-primary-action);
$palette-primary-action: $palette-dark-grey;

/// This is a local variable used only in the Nav.
/// The Secondary Action in the nav is defined as the middle option(s).
/// This color is typically lighter than the other nav options so as to
/// allow importance to be given to other sections.
/// @example
///		@include button-color($palette-secondary-action);
$palette-secondary-action: $brand-secondary;

/// This is a local variable used only in the Nav.
/// The Tertiary Action in the nav is defined as the far right option(s).
/// This color is typically represented as a bright color to call out its importance.
/// @example
///		@include button-color($palette-tertiary-action);
$palette-tertiary-action: $brand-primary;
header {
	nav {
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 45px;
		padding: 0 0 0 170px;

		> ul {
			@extend %clearfix;
			width: 100%;
			max-width: 761px;
			float: right;

			li {
				display: block;
				position: relative;
				box-sizing: border-box;
				float: left;
				text-align: left;

				&.primary-action {
					@include button-color($palette-primary-action);
					border-right: 1px solid darken($palette-primary-action, 10%);
					border-left: 1px solid lighten($palette-primary-action, 10%);

					&:first-of-type { border-left: 0; }

					> a {
						padding-right: 35px;

						&:hover { box-shadow: none; }
					}
				}
				&.secondary-action {
					/* @include button-color($palette-secondary-action); */
					background-color: $palette-secondary-action;

					&:first-of-type { border-left: 0; }

					> a {

						&:hover { box-shadow: none; }
					}
					span {
						color: $palette-light;
						font-weight: 100;
						-webkit-font-smoothing: antialiased;
					}
				}
				&.tertiary-action {
					@include button-color($brand-primary);

					> a {
						color: $palette-dark;

						&:hover {
							color: $palette-dark;
							box-shadow: none;
						}
					}
				}
				> span { display: inline-block; }
				> a {
					display: inline-block;
					padding: 20px 5px 1px;
					transition: box-shadow .2s ease-in-out;
					color: $palette-light;
					font-family: $font-stack-secondary;
                    font-size: $type-size-medium;
                    font-weight: 100;
					text-transform: uppercase;
					white-space: nowrap;
                    -webkit-font-smoothing: antialiased;

					&:hover {
						color: $palette-light;
						// box-shadow: inset 0 -4px 0 $brand-primary;
						// transition: box-shadow .1s ease-in-out;
					}
				}

				/* Icons */
	            [class^='kb-icon-']::before,
	            [class*=' kb-icon-']::before {
	                position: absolute;
	                top: 0;
	                left: 15px;
	                color: $brand-primary;
	                font-size: $type-size-larger;
	            }

	            /* Communities */
	            &.communities { width: 180px; }

	            &.custom { width: 109px; }

	            /* Business */
	            &.business { width: 235px; }

	            /* Search */
	            &.search {
	            	width: 170px;
	            	height: 45px;

	            	.innerBox {
	            		width: 100%;
	            		margin-top: 6px;
	            	}
	            }

	            /* My KB */
	            &.mykb {
	            	width: 67px;

	            	a {
	            		padding: 21px 20px 0;
	            		text-transform: none;
	            	}
	            }

				/* Google Search */
				.gsib_a { padding: 0; }
                .gsib_b { display: none; }
                .gsc-search-button { display: none; }
                .gsc-input-box {
                    height: auto;
                    border: 0;
                }
                .gsc-input {
                    min-width: 75px;
                    height: 32px !important;
                    padding: 0 10px !important;
                    margin: 0 !important;
                    font-family: $font-stack-tertiary !important;
                    font-size: $type-size-medium;
                    font-weight: 100;
                    box-shadow: none;
                }

				/* Drop Downs */
				.drop-down {
					position: absolute;
					top: 45px;
					max-width: 180px;
					background-color: $palette-white-grey;

	                .navBox {
	                    position: absolute;
	                    top: 0;
	                    left: 0;
	                    z-index: $zindex-drop-down;
	                    width: 400px;
	                    margin: 0 0 0 100%;

	                    .states,
	                    .counties {
	                        display: none;
	                        overflow: hidden;
	                        width: 0;
	                        float: left;
	                        border-left: 1px $palette-grey solid;
	                        background-color: $palette-light;

	                        ul {
	                        	position: relative;
	                        	width: 114px;

	                        	li {
	                        		display: block;
	                        		float: none;

	                        		a {
	                        			display: block;
	                        			padding: 6px;
	                        			color: $link-primary;
	                        			white-space: normal;

	                        			&:hover {
	                        				background-color: lighten($palette-grey, 5%);
	                        				color: $palette-dark-grey;
	                        				box-shadow: none;
	                        			}
	                        		}
	                        	}
	                        }
	                    }

						.counties ul { width: 185px; }
	                }
	                .recentviewed {
	                	min-width: 180px;
	                	color: $palette-dark-grey;

	                	a { color: $palette-dark-grey; }
	                	h3 {
	                		padding: 3px 15px 0;
	                		margin: 0;
	                		font-size: $type-size-small;
	                	}
	                	h2 {
	                		padding: 0 15px 5px;
	                		margin: 0;
	                		color: $link-primary;
	                		font-size: $type-size-medium;
	                		line-height: 18px;
	                		white-space: normal;
	                	}
	                	.inner {
	                		margin: 20px 0;

	                		> a {
	                			display: block;
	                			padding: 8px 15px;
	                			color: $link-primary;
	                			font: bold $type-size-small $font-stack-secondary;
	                			text-transform: uppercase;
	                			white-space: normal;
	                		}

	                		h2 {
								color: $palette-dark;
	                			font-size: $type-size-smaller;
	                		}
	                		.comNames {
	                			display: block;
	                			position: relative;
	                			padding: 10px 7px 7px;
	                			margin: 0 15px 15px;
	                			border: 1px solid $palette-grey;
	                			color: $palette-dark;
	                			font: normal $type-size-medium $font-stack-secondary;
	                			text-transform: uppercase;

	                			&::before {
	                				position: absolute;
	                				top: 8px;
	                				right: 11px;
	                				left: auto;
	                				width: 5px;
	                				color: $palette-dark;
	                				font-size: $type-size-medium + .17;
	                			}
	                			&:hover { background-color: $menu-hover-background; }
	                		}
	                	}

	                	.recent {
	                		@extend %clearfix;
	                		display: block;
	                		border-bottom: 1px solid $palette-grey;
	                	}
	                	.optcommunity { display: none; }
	                }

	                .community {
	                	@extend %clearfix;
	                	position: absolute;
	                	top: 0;
	                	left: 100%;
	                	z-index: $zindex-drop-down;
	                	height: auto !important;
	                	padding: 30px 5px 10px 8px;
	                	transition: all 0.3s ease-in-out;
	                	background-color: $palette-quaternary;

	                	> ul {
	                		background-color: $palette-quaternary;

	                		> li {
								display: block;
								float: none;
								margin-bottom: $margin-default / 2;

	                			&:last-child { margin-bottom: 0; }

								a {
									display: block;
									height: 53px;
									padding: 0;


	                				&:hover {
	                					.title { color: $palette-dark-grey; }
	                				}
								}
	                			img {
	                				float: left;
	                				margin-right: $margin-default / 2;
	                			}

	                			ul {
	                				li {
	                					display: block;
										float: none;
	                					color: $palette-dark-grey;
	                					font: bold $type-size-small $font-stack-secondary;

	                					&.title {
	                						margin-bottom: $margin-default / 4;
	                						color: $link-primary;
	                					}
	                				}
	                			}
	                		}
	                	}
	                }

	                &.bto {
	                	li {
	                		display: block;
	                		width: 100%;

	                		a {
	                			display: block;
	                			padding: 10px 15px;
	                			color: $link-primary;

	                			&:hover {
                    				background-color: $menu-hover-background;
                    				color: $menu-hover-text;
                    				box-shadow: none;
                    			}
	                		}
	                	}
	                }
	            }
			}
		}
	}
}

@include media-custom(0, 935px) {
	header {
		nav {
			> ul {
				width: 613px;
				max-width: 700px;

				li {
					> a { font-size: $type-size-smaller; }

					&.primary-action {
						> a { padding-right: 0; }
					}
					&.custom { width: 80px; }
					&.communities { width: 146px; }
					&.business { width: 210px; }
					&.search { width: 110px; }
				}
			}
		}
	}
}
@media #{$media-tiny} {
	nav { display: none; }
}