/*=================================================================================
=            Scaffolding:  Structural Components Inherent in ALL Pages            =
=================================================================================*/
body {
	padding: $body-padding;
	margin: $body-margin;
	background-color: $background-site;
}
.content {
	width: 100%;
	margin: 0 auto;
	background-color: $palette-light;
}
p { margin: 0 0 10px; }