/* News Gothic */
@font-face {
    font-family: 'NewsGothic';
    font-style:   normal;
    font-weight:  normal;
    src: url('#{$path-site-assets}/type/newsgothic/NewsGothicBT-Roman.woff') format('woff'),
         url('#{$path-site-assets}/type/newsgothic/NewsGothicBT-Roman.ttf') format('truetype');
}
@font-face {
    font-family: 'NewsGothic';
    font-style:   normal;
    font-weight:  bold;
    src: url('#{$path-site-assets}/type/newsgothic/NewsGothicBT-Bold.woff') format('woff'),
         url('#{$path-site-assets}/type/newsgothic/NewsGothicBT-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'NewsGothicBTCondensed';
    font-style:   normal;
    font-weight:  normal;
    src: url('#{$path-site-assets}/type/newsgothic/NewsGothicBT-RomanCondensed.woff') format('woff'),
         url('#{$path-site-assets}/type/newsgothic/NewsGothicBT-RomanCondensed.ttf') format('truetype');
}
@font-face {
    font-family: 'NewsGothicExtraCondensed';
    font-style:   normal;
    font-weight:  bold;
    src: url('#{$path-site-assets}/type/newsgothic/NewsGothicBT-BoldExtraCondensed.woff') format('woff'),
         url('#{$path-site-assets}/type/newsgothic/NewsGothicBT-BoldExtraCondensed.ttf') format('truetype');
}

/* Open Sans */
@font-face {
    font-family: 'OpenSans';
    font-style:   normal;
    font-weight:  300;
    src: url('#{$path-site-assets}/type/open-sans/opensans-light.woff') format('woff'),
         url('#{$path-site-assets}/type/open-sans/opensans-light.woff2') format('woff2'),
         url('#{$path-site-assets}/type/open-sans/opensans-light.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans';
    font-style:   normal;
    font-weight:  normal;
    src: url('#{$path-site-assets}/type/open-sans/opensans-regular.woff') format('woff'),
         url('#{$path-site-assets}/type/open-sans/opensans-regular.woff2') format('woff2'),
         url('#{$path-site-assets}/type/open-sans/opensans-regular.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans';
    font-style:   normal;
    font-weight:  600;
    src: url('#{$path-site-assets}/type/open-sans/opensans-semibold.woff') format('woff'),
         url('#{$path-site-assets}/type/open-sans/opensans-semibold.woff2') format('woff2'),
         url('#{$path-site-assets}/type/open-sans/opensans-semibold.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans';
    font-style:   normal;
    font-weight:  bold;
    src: url('#{$path-site-assets}/type/open-sans/opensans-bold.woff') format('woff'),
         url('#{$path-site-assets}/type/open-sans/opensans-bold.woff2') format('woff2'),
         url('#{$path-site-assets}/type/open-sans/opensans-bold.ttf') format('truetype');
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 5px;
  font-family: $font-stack-secondary;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  }
h1,
h2 { margin: 0 0 $margin-default; }
h3,
h4 { margin: 0 0 $margin-half; }
h5,
h6 { margin: 0 0 $margin-quarter; }

/* H# Sizing */
h1 { @include type-setting(7); }
h2 { @include type-setting(5); }
h3 { @include type-setting(4); }
h4 { @include type-setting(1); }
h5 { @include type-setting(-1); }
h6 { @include type-setting(-2); }

a {
  transition: color .07s ease-in-out;
  color: $link-primary;
  text-decoration: none;

    &:hover { color: lighten($link-primary, 10%); }
  }

a.secondary,
.secondary-group a { color: $link-secondary; }

a.tertiary,
.tertiary-group a { color: $link-tertiary; }

body {
  @include type-setting(0);
  color: $text-primary;
  font-family: $font-stack-primary;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

::selection { background-color: $brand-primary; }