.hero {
	height: $hero-height-relative;
	background: none;

	.kb-map { height: $map-height; }
}

.seo-list {
	ul {margin-bottom: 20px;}
	dl {
		column-gap: 4em;
		column-count: 2;

		dd {
			p {
				display: inline-block;
				padding-bottom: 10px;
			}
			a {
				display: block;
				font-size: 1rem;
			}
			span {
				display: block;
				font-size: 0.85rem;
			}
		}
	}
	h3 {
		margin-bottom: 25px;
		border-bottom: 1px solid #ddd;
		color: #555;
		font-size: 1.8rem;
		font-weight: normal;
	}
	.region-name {
		font-size: 1.2rem;
		font-weight: bold;
	}
}

@media #{$media-tiny} {

	.hero {
		height: 90vh;
	}

	.gm-style-mtc { top: 0; }

	.community-seo-list {
		dd {
			padding-left: 0;
			margin-left: 0;
		}
	}

}